<!-- start includes -->
{{> header }}
{{> navbar }}
{{> pageTitle }}

<!-- ########################### -->
<!--         MAIN CONTENT        -->
<!-- ########################### -->

<!-- start: PROJECT BACKGROUND -->
<div class="container sm-buffer">
    <!-- sectio title -->
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <h2 class="example-section">Project background</h2>
        </div>
    </div>
    <!-- content -->
    <div class="row sm-buffer">
        <div class="col-md-9 col-md-offset-1">
            <p>This project was borned after the conversations with the teacher Enric Mayol. Enric intrdocued the FamilySearch organitzation and the existence of their API.</p>
            <p>FamilySearch is a non profit organizatión that aims to connect families through their generations. Their vision as a collective is to help people create links with their ancestors so they can better underestands who they are, build a family bond and build the bridge between the past and the future.</p>
            <p>This project is constructed around the API that FamilySearch offers to grant access to their genealogical data. The project consists of three main blocs or sections:</p>
            <p>
                <ul>
                    <li>An in-deep analysis of the API. The objective of this section is to understand what data is truly available.</li>
                    <li>Set of project ideas that could be implemented based on the accessible data.</li>
                    <li>Implementation of some examples that interact with the API.</li>
                </ul>
        </div>
    </div>
</div>

<!-- start: PROJECT MOTIVATIONS -->
<div class="container sm-buffer">
    <!-- sectio title -->
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <h2 class="example-section">Project context and motivations</h2>
        </div>
    </div>
    <!-- content -->
    <div class="row sm-buffer">
        <div class="col-md-9 col-md-offset-1">
            <p>During all college I felt a higher empathy for projects and subjects that required certain levels of abstraction. The process of understanding the given problem to resolve, design a valid solution and finally execute it, always felt more rewarding than the technical details.</p>
            <p>Also, I always defined myself as a jack of all trades, therefore I was eager to find a project that fell out of my knowledge areas. </p>
            <p>For this two reasons the proposed project by Enric Mayol felt like something I could enjoy given the fact that until that point I knew nothing about genealogy or web coding. </p>
            <p>The fact that the quality of the project outcome would completely depend on the ability to understand the accessible data and the capacity to link that to doubts or questions that society may have. This aspect made the project interesting and scary at equal parts.</p>
            <p>Finally, given the fact that by the time I enrolled myself with this project I was working as a an intern user experience / user interaction designer, it felt like a good opportunity to put some things that I had learned in action. </p>
        </div>
    </div>
</div>

<!-- endfile includes -->
{{> javascripts }}
{{> footer }}
