<!-- start includes -->
{{> header }}
{{> navbar }}
{{> pageTitle }}

<!-- ########################### -->
<!--         MAIN CONTENT        -->
<!-- ########################### -->

<!-- start: PROJECT BACKGROUND -->
<div class="container sm-buffer">
    <!-- sectio title -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="example-section">Project background</h2>
        </div>
    </div>
    <!-- content -->
    <div class="row sm-buffer">
        <div class="col-md-8 col-md-offset-2">
            <p>This project originated after the conversations with the teacher Enric Mayol. Enric intrdocued to us the FamilySearch organitzation and the existence of their API.</p>
            <p>FamilySearch is a non profit organizatión that aims to connect families through their generations. Their vision as a collective is to help people create links with their ancestors so they can better underestands who they are, create a family bond and build the bridge between the past and the future.</p>
            <p>This project is constructed around the API that FamilySearch offers to grant access to their genealogical data. The project consists of three main blocs or sections:</p>
            <p>
                <ul>
                    <li>An in-deep analysis of the API. The objective of this section is to understand what data is truly available through the API and how each component is connected to the others.</li>
                    <li>Set of project ideas that could be implemented by future students based on the accessible data.</li>
                    <li>Implementation of some examples that interact with the API.</li>
                </ul>
        </div>
    </div>
</div>

<!-- start: PROJECT MOTIVATIONS -->
<div class="container sm-buffer">
    <!-- sectio title -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="example-section">Project context and motivations</h2>
        </div>
    </div>
    <!-- content -->
    <div class="row sm-buffer">
        <div class="col-md-8 col-md-offset-2">
            <p>During all college I felt a higher empathy for those projects and subjects that required certain levels of abstraction. The process of having to understand the given problem to resolve, design a valid solution for it and finally execute it, always felt more rewarding than those subjects based on more specific and technical details.</p>
            <p>Also, I always defined myself as a jack of all trades, therefore I was eager to find a project that fell out of my areas of expertise so I could learn something new and break the rutiny.</p>
            <p>For this two reasons the proposed project by Enric Mayol felt like something I could enjoy given the fact that until that point I knew nothing about genealogy or web coding.</p>
            <p>The fact that the quality of the project outcome would completely depend on the ability to understand the accessible data and the capacity to link that to doubts or questions that society may have makes the project both interesting and scary at the same time.</p>
            <p>Finally, I decided to enroll myself on this project because by the time I was working as an intern on user experience/user interaction design and  this project felt like a good opportunity to put in practice some of the things that I had learned. </p>
        </div>
    </div>
</div>

<!-- endfile includes -->
{{> javascripts }}
{{> footer }}
