<!-- start includes -->
{{> header }}
{{> navbar }}
{{> pageTitle }}

<!-- ########################### -->
<!--         MAIN CONTENT        -->
<!-- ########################### -->

<!-- start: PROJECT BACKGROUND -->
<div class="container sm-buffer">
    <!-- sectio title -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="example-section">Project background</h2>
        </div>
    </div>
    <!-- content -->
    <div class="row sm-buffer">
        <div class="col-md-8 col-md-offset-2">
            <p>This project originated after the conversations with the teacher Enric Mayol. Enric introduced to us the FamilySearch organization and the existence of their API, that granted access to genealogical data.</p>
            <p>FamilySearch is a non profit organization that aims to connect families through their generations. Their vision as a collective is to help people create links with their ancestors, so they can better understand who they are, create a family bond and build the bridge between the past and future.</p>
            <p>This project is constructed around the API that FamilySearch created to grant access to their genealogical data. The project consists of three main blocs or sections:</p>
            <ul>
                <li>In-deep analysis of the API. The objective of this section is to understand what data is truly available through the API and how the different components are connected to each other.</li>
                <li>Collection of project ideas that could be implemented through the FamilySearch API, based on the accessible data and the platform limitations and opportunities.</li>
                <li>Implementation of some examples that interact with the API.</li>
            </ul>
        </div>
    </div>
</div>

<!-- start: PROJECT MOTIVATIONS -->
<div class="container sm-buffer">
    <!-- sectio title -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="example-section">Project context and motivations</h2>
        </div>
    </div>
    <!-- content -->
    <div class="row sm-buffer">
        <div class="col-md-8 col-md-offset-2">
            <p>During college I felt a higher empathy for those subjects and projects that required certain levels of abstraction. The process of understanding a given problem, design a valid solution and finally execute it, always felt more rewarding than the deep technological and technical details.</p>
            <p>On top of that, I always defined myself as a jack of all trades, therefore I was eager to find a project that fell out of my knowledge or comfort area, so I could learn something new.</p>
            <p>For this two reasons, the proposed project by Enric Mayol felt like something I could enjoy, given the fact that back then I didn't know anything about genealogy or web coding.</p>
            <p>This project had another particularity. The fact that the quality of the project outcome would completely rely on the ability to properly understand how to link the accessible data, to doubts or questions that our society might have, made this project both scary and interesting at the same time.</p>
            <p>Finally, by the time I enrolled myself with this project, I was working as a user experience intern, so this project felt like a good opportunity to carry on some of the learned knowledge into a project.</p>
        </div>
    </div>
</div>

<!-- endfile includes -->
{{> javascripts }}
<script src="/assets/js/jquery.preload.min.js"></script>
<script src="/assets/js/index.js"></script>

{{> footer }}
