<!-- start includes -->
{{> header }}
{{> navbar }}

<!-- start: TITLE ZONE DESKTOP -->
<div class="container-fluid title-zone-examples hidden-sm hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 xl-buffer text-center">
                <h1><span class="darkbox-text">IMPLEMENTED EXAMPLES</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center sm-buffer">
                <em><h3><span class="darkbox-text">Play with some examples that illustrate how data from the FamilySearch API can be accessed and played with</span></h3></em>
            </div>
        </div>
    </div>
</div> <!-- end: TITLE ZONE DESKTOP -->

<!-- start: TITLE ZONE MOBILE -->
<div class="container-fluid title-zone-examples title-zone-sm visible-sm visible-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 sm-buffer text-center">
                <h1><span class="darkbox-text">IMPLEMENTED EXAMPLES</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center sm-buffer">
                <em><h3>Subtitle of the project. Somethign larger, but fuckin' cool</h3></em>
            </div>
        </div>
    </div>
</div> <!-- end: TITLE ZONE MOBILE -->

<!-- load: Project proposals as future PFCs -->
{{> implemented-proposals}}

<!-- endfile includes -->
{{> javascripts }}
<script src="/assets/js/examplesLinks.js"></script>

{{> footer }}
