<!-- start includes -->
{{> header }}
{{> navbar }}

<!-- start: TITLE ZONE DESKTOP -->
<div class="container-fluid title-zone-examples hidden-xs">
    <div class="container">
        <div class="row">
            <!-- Title -->
            <div class="col-md-12 xl-buffer text-center">
                <h1 class="darkbox-text">IMPLEMENTED EXAMPLES</span></h1>
            </div>
        </div>
        <div class="row">
            <!-- Subtitle -->
            <div class="col-md-12 text-center sm-buffer">
                <h2 class="darkbox-text text-italic">Play with some examples that illustrate how data from the FamilySearch API can be accessed and played with</span></h2>
            </div>
        </div>
    </div>
</div> <!-- end: TITLE ZONE DESKTOP -->

<!-- start: TITLE ZONE MOBILE -->
<div class="container-fluid title-zone-examples title-zone-xs visible-xs">
    <div class="container">
        <div class="row">
            <!-- Title -->
            <div class="col-xs-12 sm-buffer text-center">
                <h1 class="darkbox-text h1-5">IMPLEMENTED EXAMPLES</span></h1>
            </div>
        </div>
    </div>
</div> <!-- end: TITLE ZONE MOBILE -->

<!-- load: Implemented proposals -->
{{> implemented-proposals}}

<!-- endfile includes -->
{{> javascripts }}
<script src="/assets/js/proposalExamplesLinks.js"></script>

{{> footer }}
