{{> header }}
{{> navbar }}
{{> pageTitle }}

<!-- ########################### -->
<!--         MAIN CONTENT        -->
<!-- ########################### -->

<!-- start: EXAMPLE DESCRIPTION -->
<div class="container sm-buffer">
    <!-- sectio title -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="example-section">Project description</h2>
        </div>
    </div>
    <!-- text zone -->
    <div class="row sm-buffer">
        <div class="col-md-12">
            <p>The Facts functionality enables you to check how many instances, of one of the three most common facts in a person’s life, were recorded around a certain year and a specific location.</p>
            <p>The goal of this feature is to explore if some global events, could have affected the number of birth, marriages or death occurrences, for the populations that went through wars, epidemics or important political decisions.</p>
            <p>You can search for Births, Marriages and Deaths occurrences on a certain place and around a given year.</p>
        </div>
    </div>
    <div class="row sm-buffer">
        <div class="col-sm-4 hidden-xs">
            <a href="/proposals/facts" type="button" class="btn btn-default">Check project proposal</a>
        </div>
        <div class="col-xs-12 visible-xs">
            <a href="/proposals/facts" type="button" class="btn btn-default btn-block">Check project proposal</a>
        </div>
    </div>
</div> <!-- end: EXAMPLE DESCRIPTION -->

<!-- start: INTERACTIVE EXAMPLE DESCRIPTION -->
<div class="container xl-buffer">
    <!-- section title -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="example-section">How to use</h2>
        </div>
    </div>
    <!-- text zone -->
    <div class="row">
        <div class="col-md-12">
            <p>This feature is pretty straight forward to use.</p>
            <p>The first thing to be done is to select the fact type you want to search for. Births (by default), Marriages or Deaths.</p>
            <p>Secondly, introduce the place where do you want the facts to be checked upon. We suggest the introduction of a country name on this field.</p>
            <p>Finally, introduce the central year, in a four year format, of the period that you want to explore and click the search button. The system will add and subtract five years to the introduced one and create an eleven year interval.</p>
            <p>As an example, if we asked the system for Marriages on United States, around the year 1942, it would explore the number of persons that got married on United States, for each year, during the time interval 1937 – 1947 (both included).</p>
        </div>
    </div>
</diV> <!-- end: INTERACTIVE EXAMPLE DESCRIPTION-->

<!-- start: RECOMMENDED EXAMPLE -->
<div class="container sm-buffer">
    <!-- section title -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="example-section">Example recommended search</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 sm-buffer">
            <p>We recomend to start exploring the functionality with a location rich in data. We also really encourage the usage of a Country as the <span class="text-italic">place</span> parameter. The suggested example has the following parameters:</p>
            <ul>
                <li><span class="sans-bold">Fact Type: </span>Births</li>
                <li><span class="sans-bold">Place: </span>United States</li>
                <li><span class="sans-bold">Central Year: </span>1800</li>
            </ul>
        </div>
    </div>
</div> <!-- end: RECOMMENDED EXAMPLE -->

<!-- start: FORM TO SEARCH -->
<div class="container sm-buffer" id="facts-searcher">
    <!-- section title -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="example-section">Searh form</h2>
        </div>
    </div>
    <!-- start: ERROR MESSAGES ZONE -->
    <div id="form-errors" class="row hidden">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                <p><span class="sans-bold">Uoops!</span> It seems that you might need to correct some fields :)</p>
                <ul class="xs-buffer">
                    <li id="fact-type-error" class="hidden">Please select one fact type.</li>
                    <li id="fact-place-error" class="hidden">Please introduce a valid place.</li>
                    <li id="fact-year-error" class="hidden">Introduce a valid Year. For example: 1951</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- start: RADIO BUTTONS -->
    <div class="row sm-buffer">
        <div class="col-md-4" style="margin-bottom:5px;">
            <label class="label-font">Fact Type</label>
        </div>
    </div>
    <div class="row">
        <div id="radio-facts" class="col-md-12">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default btn-lg radio-facts active">
                    <input type="radio" name="options" autocomplete="off" checked> Births
                </label>
                <label class="btn btn-default btn-lg radio-facts">
                    <input type="radio" name="options" autocomplete="off"> Marriages
                </label>
                <label class="btn btn-default btn-lg radio-facts">
                    <input type="radio" name="options" autocomplete="off"> Deaths
                </label>
            </div>
        </div>
    </div>
    <!-- start: NORMAL FIELDS -->
    <div class="row md-buffer">
        <!-- place form field -->
        <div class="form-group col-sm-4">
            <label for="surname" class="label-font">Place</label>
            <input type="text" class="form-control form-font form-vali" id="factsPlace" placeholder="continent/country">
        </div>
        <!-- first year form field -->
        <div class="form-group col-sm-3">
            <label for="firstYear" class="label-font">Central Year</label>
            <input type="text" class="form-control form-font form-vali" id="centralYear" placeholder="YYYY">
        </div>
        <!-- submit search -->
        <div class="col-sm-5">
            <button id="facts-submit" class="btn btn-primary form-font" role="button">Launch facts searcher</button>
            <a href="#results-zone" id="results-trigger" class="hidden"></a>
            <a href="#facts-searcher" id="error-trigger" class="hidden"></a>
        </div>
    </div>
</div> <!-- end: FORM TO SEARCH -->

<!-- start: RESULTS SPACE -->
<div id="results-zone" class="xl-buffer">
    <!-- start: WAITING PAGE ZONE -->
    <div id="waiting-page" class="container-fluid" style="display:none;">
        <div class="container">
            <!-- text -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2><span id="search-title">Searching for</span><span class="search-fact-type"></span><span id="search-title-2">...</span></h2>
                    <h3 class="text-italic">Searching in<span id="search-fact-place" class="lora-bold"></span>
                                            around year<span id="search-fact-year" class="lora-bold"></span>
                                            for <span class="search-fact-type lora-bold">
                    </h3>
                </div>
            </div>
            <!-- progress bar -->
            <div class="row sm-buffer">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <div class="progress">
                        <div id="progress-value" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 0%">
                            <span id="progress-text"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- API ERRORS -->
    <div class="container">
        <div id="api-errors" class="row sm-buffer" style="display:none;">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="example-section"><span id="table-title">Facts search error</span></h2>
                </div>
            </div>
            <!-- error display -->
            <div class="row sm-buffer">
                <div class="col-sm-12">
                    <div class="alert alert-danger" role="alert">
                        <p><span class="sans-bold">FamilySearch Uoops!</span> It seems that the connection with the FamilySearch API didn't go as expected. Please try waiting a few minutes, logging in again or refreshing the page.</p>
                        <ul class="xs-buffer">
                            <li><span id="api-error-text"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end: results space: Waiting + api errors -->

<!-- start: LINECHART -->
<div id="lineOverall" class="container">
    <!-- start: LINECHART TITLE -->
    <div class="row xl-buffer">
        <div class="col-md-12">
            <h2 class="example-section"><span id="linechart-type">Yearly<span id="linechart-title"></span>evolution</h2>
        </div>
    </div>
    <!-- start: GEOMAP MAP -->
    <div class="row md-buffer">
        <div class="col-md-12">
            <div id="linechart"></div>
        </div>
    </div>
</div>

{{> javascripts }}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="/assets/js/formValidation.js"></script>
<script src="/assets/js/facts.js"></script>
<script>
    google.charts.load('current', {'packages':['line']});
</script>

{{> footer }}
