{{> header }}
{{> navbar }}

<!-- ########################### -->
<!--           TITLES            -->
<!-- ########################### -->

<!-- start: TITLE ZONE DESKTOP -->
<div class="container-fluid example-search-bkg exampleFacts hidden-xs">
    <div class="container">
        <!-- main title -->
        <div class="row">
            <div class="col-md-12 xl-buffer text-center">
                <h1 class="lightbox-text">FACTS EVOLUTION</h1>
            </div>
        </div>
        <!-- subtitle -->
        <div class="row">
            <div class="col-md-12 text-center sm-buffer hidden-sm">
                <h2 class="lightbox-text text-italic">Check birth, marriage and death occurances around a specific year and place.</h2>
            </div>
        </div>
        <!-- button -->
        <div class="row">
            <div class="col-md-12 xl-buffer text-center">
                <a class="btn btn-default md-buffer header-button" href="/examples" role="button">Back to examples list</a>
            </div>
        </div>
    </div>
</div> <!-- end: TITLE ZONE DESKTOP -->

<!-- start: TITLE ZONE MOBILE -->
<div class="container-fluid example-search-bkg title-zone-xs exampleFacts visible-xs">
    <div class="container">
        <!-- main title -->
        <div class="row">
            <div class="col-xs-12 sm-buffer text-center">
                <h1 class="lightbox-text h1-5">FACTS EVOLUTION</h1>
            </div>
        </div>
        <!-- button -->
        <div class="row">
            <div class="col-xs-12 text-center">
                <a class="btn btn-default md-buffer header-button" href="/proposals" role="button">Back to proposals list</a>
            </div>
        </div>
    </div>
</div> <!-- end: TITLE ZONE MOBILE -->

<!-- ########################### -->
<!--         MAIN CONTENT        -->
<!-- ########################### -->
<!-- start: EXAMPLE DESCRIPTION -->
<div class="container sm-buffer">
    <!-- sectio title -->
    <div class="row">
        <div class="col-md-12">
            <h2>Project description</h2>
        </div>
    </div>
    <!-- text zone -->
    <div class="row">
        <div class="col-md-12">
            <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
            <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
            <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.</p>
        </div>
    </div>
    <div class="row sm-buffer">
        <div class="col-sm-4 hidden-xs">
            <a href="/proposals/facts" type="button" class="btn btn-default">Check feature sheet</a>
        </div>
        <div class="col-xs-12 visible-xs">
            <a href="/proposals/facts" type="button" class="btn btn-default btn-block">Check feature sheet</a>
        </div>
    </div>
</div> <!-- end: EXAMPLE DESCRIPTION -->

<!-- start: INTERACTIVE EXAMPLE DESCRIPTION -->
<div class="container xl-buffer">
    <!-- section title -->
    <div class="row">
        <div class="col-md-12">
            <h2>Interactive Example</h2>
        </div>
    </div>
    <!-- text zone -->
    <div class="row">
        <div class="col-md-12">
            <h3>How to use</h3>
            <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
        </div>
    </div>
</diV> <!-- end: INTERACTIVE EXAMPLE DESCRIPTION-->

<!-- start: FORM TO SEARCH -->
<div class="container sm-buffer" id="facts-searcher">
    <!-- section title -->
    <div class="row">
        <div class="col-md-12">
            <h3>Configure search</h3>
        </div>
    </div>
    <!-- start: ERROR MESSAGES ZONE -->
    <div id="form-errors" class="row hidden">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                <p><span class="sans-bold">Uoops!</span> It seems that you might need to correct some fields :)</p>
                <ul class="xs-buffer">
                    <li id="fact-type-error" class="hidden">Please select one fact type.</li>
                    <li id="fact-place-error" class="hidden">Please introduce a valid place.</li>
                    <li id="fact-year-error" class="hidden">Introduce a valid Year. For example: 1951</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- start: RADIO BUTTONS -->
    <div class="row sm-buffer">
        <div class="col-md-4" style="margin-bottom:5px;">
            <label class="label-font">Fact Type</label>
        </div>
    </div>
    <div class="row">
        <div id="radio-facts" class="col-md-12">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default btn-lg radio-facts active">
                    <input type="radio" name="options" autocomplete="off" checked> Births
                </label>
                <label class="btn btn-default btn-lg radio-facts">
                    <input type="radio" name="options" autocomplete="off"> Deaths
                </label>
                <label class="btn btn-default btn-lg radio-facts">
                    <input type="radio" name="options" autocomplete="off"> Marriages
                </label>
            </div>
        </div>
    </div>
    <!-- start: NORMAL FIELDS -->
    <div class="row md-buffer">
        <!-- place form field -->
        <div class="form-group col-sm-4">
            <label for="surname" class="label-font">Place</label>
            <input type="text" class="form-control form-font form-vali" id="factsPlace" placeholder="continent/country">
        </div>
        <!-- first year form field -->
        <div class="form-group col-sm-3">
            <label for="firstYear" class="label-font">Central Year</label>
            <input type="text" class="form-control form-font form-vali" id="centralYear" placeholder="YYYY">
        </div>
        <!-- submit search -->
        <div class="col-sm-5">
            <button id="facts-submit" class="btn btn-primary form-font" role="button">Lauch facts searcher</button>
            <a href="#results-zone" id="results-trigger" class="hidden"></a>
            <a href="#facts-searcher" id="error-trigger" class="hidden"></a>
        </div>
    </div>
</div> <!-- end: FORM TO SEARCH -->

<!-- start: RESULTS SPACE -->
<div id="results-zone" class="xl-buffer">
    <!-- start: WAITING PAGE ZONE -->
    <div id="waiting-page" class="container-fluid" style="display:none;">
        <div class="container">
            <!-- text -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2><span id="search-title">Searching for</span><span class="search-fact-type"></span><span id="search-title-2">...</span></h2>
                    <h3 class="text-italic">Sarching in<span id="search-fact-place" class="lora-bold"></span>
                                            around year<span id="search-fact-year" class="lora-bold"></span>
                                            for <span class="search-fact-type lora-bold">
                    </h3>
                </div>
            </div>
            <!-- progress bar -->
            <div class="row sm-buffer">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <div class="progress">
                        <div id="progress-value" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 0%">
                            <span id="progress-text"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start: LINECHART -->
<div id="lineOverall" class="container">
    <!-- start: LINECHART TITLE -->
    <div class="row xl-buffer">
        <div class="col-md-12">
            <h2><span id="linechart-type">Yearly<span id="linechart-title"></span>evolution</h2>
        </div>
    </div>
    <!-- start: GEOMAP MAP -->
    <div class="row md-buffer">
        <div class="col-md-12">
            <div id="linechart"></div>
        </div>
    </div>
</div>

{{> javascripts }}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="/assets/js/formValidation.js"></script>
<script src="/assets/js/facts.js"></script>
<script>
    google.charts.load('current', {'packages':['line']});
</script>

{{> footer }}
