<!-- start includes -->
{{> header }}
{{> navbar }}

<!-- start: IMAGE HEADER DESKTOP -->
<div class="container-fluid title-zone hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 xl-buffer text-center">
                <h1 class="lightbox-text">STUDY OF FAMILY SEARCH API</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center sm-buffer hidden-sm hidden-xs">
                <h2 class="lightbox-text text-italic">Potentiality study of the Family Search API. What could be achieved with this API? Example implementations and some project proposals for future students</h2>
            </div>
            <div class="col-md-12 text-center sm-buffer visible-sm">
                <h2 class="lightbox-text text-italic">Reduced subtitle just to fit the size and rock.</h2>
            </div>
        </div>
    </div>
</div> <!-- end: IMAGE HEADER -->

<!-- start: IMAGE HEADER MOBILE -->
<div class="container-fluid title-zone title-zone-xs visible-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 sm-buffer text-center">
                <h1 class="lightbox-text h1-5">STUDY OF FAMILY SEARCH API</h1>
            </div>
        </div>
    </div>
</div> <!-- end: IMAGE MOBILE -->

<!-- start: COLUMNS ZONE -->
<div class="container">
    <div class="row">
        <!-- start: ROW 1 -->
        <a class="no-link" href="/background">
            <div class="col-md-4 xxxl-buffer hidden-sm hidden-xs block-pointer home-block-1">
                <div class="row">
                    <!-- column: image -->
                    <div class="col-md-12 text-center">
                        <img src="/images/aboutProject.png" width="250px" class="img-responsive center-block"/>
                    </div>
                    <!-- column: title -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3>Project Background</h3>
                        </div>
                    </div>
                    <!-- column: text -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p> lore ipsum megaleft asdfjasdkfjasdkf fasdfajsdkfasdf  jaksdfjadksfja skdfj askdjf askdjf aksdj faksdjf asdjfasdjewijqwieqwe qw eqwe kj asdkj fsdk jfasdkfj asdkfj asqejk we qwe </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <!-- start: ROW 1 mobile -->
        <a class="no-link" href="/background">
            <div class="col-md-4 visible-sm visible-xs sm-buffer block-pointer home-block-1">
                <div class="row">
                    <!-- column: image -->
                    <div class="col-sm-12 text-center">
                        <img src="/images/aboutProject.png" width="250px" class="img-responsive center-block"/>
                    </div>
                    <!-- column: title -->
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h3>Project Background</h3>
                        </div>
                    </div>
                    <!-- column: text -->
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p> lore ipsum megaleft asdfjasdkfjasdkf fasdfajsdkfasdf  jaksdfjadksfja skdfj askdjf askdjf aksdj faksdjf asdjfasdjewijqwieqwe qw eqwe kj asdkj fsdk jfasdkfj asdkfj asqejk we qwe </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <!-- start: ROW 2 -->
        <a class="no-link" href="/proposals">
            <div class="col-md-4 xxxl-buffer block-pointer home-block-2">
                <div class="row">
                    <!-- column: image -->
                    <div class="col-md-12 text-center">
                        <img src="/images/possibleProjects.png" width="250px" class="img-responsive center-block"/>
                    </div>
                    <!-- column: title -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3>Proposed Projects</h3>
                        </div>
                    </div>
                    <!-- column: text -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p> lore ipsum megaleft asdfjasdkfjasdkf fasdfajsdkfasdf  jaksdfjadksfja skdfj askdjf askdjf aksdj faksdjf asdjfasdjewijqwieqwe qw eqwe kj asdkj fsdk jfasdkfj asdkfj asqejk we qwe </p>
                        </div>
                    </div>
                </div>
            </div> <!-- end: ROW 2 -->
        </a>

        <!-- start: ROW 3 -->
        <a class="no-link" href="/examples">
            <div class="col-md-4 xxxl-buffer block-pointer home-block-3">
                <div class="row">
                    <!-- column: image -->
                    <div class="col-md-12 text-center">
                        <img src="/images/examples.png" width="250px" class="img-responsive center-block"/>
                    </div>
                    <!-- column: title -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3>Interactive Examples</h3>
                        </div>
                    </div>
                    <!-- column: text -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p> lore ipsum megaleft asdfjasdkfjasdkf fasdfajsdkfasdf  jaksdfjadksfja skdfj askdjf askdjf aksdj faksdjf asdjfasdjewijqwieqwe qw eqwe kj asdkj fsdk jfasdkfj asdkfj asqejk we qwe </p>
                        </div>
                    </div>
                </div>
            </div> <!-- end: ROW 3 -->
        </a>
    </div> <!-- end: ROW -->
</div> <!-- end: COLUMNS ZONE -->

<!-- endfile includes -->
{{> javascripts }}
{{> footer }}
