<!-- start includes -->
{{> header }}
{{> navbar }}
{{> pageTitle }}

<!-- ########################### -->
<!--         MAIN CONTENT        -->
<!-- ########################### -->

<!-- start: 3 COLUMNS AREA -->
<div class="container">
    <!-- +extra desktop space -->
    <div class="row md-buffer hidden-xs hidden-sm"></div>
    <!-- start: ROW RESPONSIVE CONTENT -->
    <div class="row">
        <!-- start: COLUMN 1 DESKTOP -->
        <a class="no-link home-product" href="/background">
            <div class="col-md-4 xxxl-buffer hidden-xs hidden-sm block-pointer home-block-1">
                <div class="row">
                    <!-- column: image -->
                    <div class="col-md-12 text-center">
                        <img src="/images/aboutProject3-min.png" width="250px" class="img-responsive center-block"/>
                    </div>
                    <!-- column: title -->
                    <div class="col-md-12 text-center">
                        <h3>Project Background</h3>
                    </div>
                    <!-- column: text -->
                    <div class="col-md-12 text-center">
                        <p>The project background describes the origin, context and motivations that made this project possible.</p>
                    </div>
                </div>
            </div>
        </a> <!-- end: COLUMN 1 DESKTOP -->

        <!-- start: COLUMN 1 mobile -->
        <a class="no-link home-product" href="/background">
            <div class="col-sm-12 visible-xs visible-sm sm-buffer block-pointer home-block-1">
                <div class="row">
                    <!-- column: image -->
                    <div class="col-sm-12 text-center">
                        <img src="/images/aboutProject3-min.png" width="250px" class="img-responsive center-block"/>
                    </div>
                    <!-- column: title -->
                    <div class="col-sm-12 text-center">
                        <h3>Project Background</h3>
                    </div>
                    <!-- column: text -->
                    <div class="col-sm-12 text-center">
                        <p>The project background describes the origen of the project plus the context & motivations behind it.</p>
                    </div>
                </div>
            </div>
        </a> <!-- end: COLUMN 1 MOBILE -->

        <!-- start: COLUMN 2 -->
        <a class="no-link home-product" href="/proposals">
            <div class="col-md-4 col-sm-12 xxxl-buffer block-pointer home-block-2">
                <div class="row">
                    <!-- column: image -->
                    <div class="col-md-12 text-center">
                        <img src="/images/possibleProjects2-min.png" width="250px" class="img-responsive center-block"/>
                    </div>
                    <!-- column: title -->
                    <div class="col-md-12 text-center">
                        <h3>Project Proposals</h3>
                    </div>
                    <!-- column: text -->
                    <div class="col-md-12 text-center">
                        <p>This section gathers together a sample of project descriptions that might be of interest to future students.</p>
                    </div>
                </div>
            </div>
        </a> <!-- end: COLUMN 2 -->

        <!-- start: COLUMN 3 -->
        <a class="no-link home-product" href="/examples">
            <div class="col-md-4 col-sm-12 xxxl-buffer block-pointer home-block-3">
                <div class="row">
                    <!-- column: image -->
                    <div class="col-md-12 text-center">
                        <img src="/images/examples2-min.png" width="250px" class="img-responsive center-block"/>
                    </div>
                    <!-- column: title -->
                    <div class="col-md-12 text-center">
                        <h3>Interactive Examples</h3>
                    </div>
                    <!-- column: text -->
                    <div class="col-md-12 text-center">
                        <p>The interactive examples feature three functionalites that expose some usages of the genealogical data.</p>
                    </div>
                </div>
            </div> <!-- end: COLUMN 3 -->
        </a>
    </div> <!-- end: ROW RESPONSIVE CONTENT -->
</div> <!-- end: 3 COLUMNS ZONE -->

<!-- endfile includes -->
{{> javascripts }}
<script src="/assets/js/jquery.preload.min.js"></script>
<script src="/assets/js/index.js"></script>

{{> footer }}
