{{> header }}

<div class="container">
    <!-- START: Greeting image -->
    <div class="row xl-buffer">
        <div class="col-xl-12">
            <img src="images/familyTree2.png" class="img-responsive center-block greeting-img"/>
        </div>
    </div> <!-- END: greeting img -->

    <!-- START: words headings -->
    <div class="row sm-buffer">
        <div class="col-xl-12 text-center">
            <h1>PFC Family Search: API Study</h1>
            <h4><em>Please log in to Family Search to start using the website</em></h4>
        </div>
    </div> <!-- END: word headings -->

    <!-- START: log-in button -->
    <div class="row xs-buffer">
        <div class="col-md-4 col-md-offset-4 text-center">
            <button id="sign-in" class="btn btn-default btn-lg btn-block">Access Family Search</button>
        </div>
    </div> <!-- END: log-in button -->
</div>

{{> javascripts }}

<script src="assets/js/index.js"></script>
<script src="assets/js/cookies.js"></script>

{{> footer }}

<script>
  // This is a shortcut for $(document).ready()
  $(function(){

    // When the user clicks the "Sign In" button, call the `signIn` method.
    $('#sign-in').click(signIn);
  });

  // Function is called when the user clicks the "Sign In" button.
  function signIn(){

    // Request an access token (login)
    client.getAccessToken().then(function(accessToken){

      // Display the access token
      //$('#accessToken').text(accessToken);
    })

    // Error handling
    .catch(function(e){

    });
  }
</script>
