{{> header }}

<!-- START: main container -->
<div id="main-container" class="container">
    <!-- START: Greeting image -->
    <div class="row xl-buffer">
        <div class="col-xl-12">
            <img src="/images/familyTree2.png" class="img-responsive center-block greeting-img"/>
        </div>
    </div> <!-- END: greeting img -->

    <!-- START: words headings -->
    <div class="row sm-buffer">
        <div class="col-xl-12 text-center">
            <h1>PFC Family Search: API Study</h1>
            <h4><em>Please log in to Family Search to start using the website</em></h4>
        </div>
    </div> <!-- END: word headings -->

    <!-- START: log-in button -->
    <div class="row xs-buffer">
        <div class="col-md-4 col-md-offset-4 text-center">
            <button id="sign-in" class="btn btn-default btn-lg btn-block">Access Family Search</button>
        </div>
    </div> <!-- END: log-in button -->
</div> <!-- END: main container -->

<!-- START: loading container -->
<div id="loading-container" class="container" style="display:none;">
    <div id="wrap" class="row">
        <div class="col-xl-12 text-center">
            <img src="/images/loader/Preloader_3.gif"/>
        </div>
        <div class="col-xl-12 text-center">
            <h3>Please complete the Family Search log-in...</h3>
        </div>
    </div>
</div> <!-- END: loading container -->

{{> javascripts }}

<script src="assets/js/index.js"></script>
<script src="assets/js/cookies.js"></script>
