{{> header }}

<!-- START: main container -->
<div id="main-container" class="container">
    <div class="row xxxl-buffer hidden-xs"></div>
    <!-- Greeting image -->
    <div class="row xl-buffer">
        <div class="col-xl-12">
            <img src="/images/familysearchLogo.png" class="img-responsive center-block"/>
        </div>
    </div>

    <!-- Title & Subtitle -->
    <div class="row sm-buffer">
        <div class="col-xl-12 text-center">
            <h1>API Potentiality Study</h1>
            <h4><em>Please log in to Family Search to use the examples section</em></h4>
        </div>
    </div>

    <!-- Log-in button -->
    <div class="row xs-buffer" style="margin-bottom: 60px;">
        <div class="col-md-4 col-md-offset-4 text-center">
            <button id="sign-in" class="btn btn-default btn-lg btn-block">Access FamilySearch</button>
        </div>
    </div>

</div> <!-- END: main container -->

<!-- START: loading container -->
<div id="loading-container" class="container" style="display:none;">
    <div id="wrap" class="row">
        <!-- Connecting with api: GIF -->
        <div class="col-xl-12 text-center">
            <img src="/images/loader/Preloader_3.gif"/>
        </div>
        <!-- Connecting with api: TEXT -->
        <div class="col-xl-12 text-center">
            <h3>Please complete the Family Search log-in...</h3>
        </div>
    </div>
</div> <!-- END: loading container -->

<!-- endfile includes -->
{{> javascripts }}
<script src="assets/js/login.js"></script>
