<!-- start includes -->
{{> header }}
{{> navbar }}
{{> pageTitle }}

<!-- ########################### -->
<!--         MAIN CONTENT        -->
<!-- ########################### -->

<!-- start: EXAMPLE DESCRIPTION -->
<div class="container sm-buffer">
    <div class="row">
        <!-- section title: DESCRIPTION -->
        <div class="col-md-8 col-md-offset-2">
            <h2 class="example-section">Project description</h2>
        </div>
    </div>
    <div class="row">
        <!-- loop: Description paragraphs -->
        <div class="col-md-8 col-md-offset-2">
            {{#description}}
            <p>{{.}}</p>
            {{/description}}
        </div>
    </div>
</div> <!-- end: EXAMPLE DESCRIPTION -->

<!-- start: COMPLEXITY -->
<div class="container sm-buffer">
    <!-- section title: COMPLEXITY BAR -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="example-section">Estimated complexity</h2>
        </div>
    </div>
    <div class="row xs-buffer">
        <!-- Responsive complexity bar -->
        <div class="col-md-8 col-md-offset-2">
            <div class="progress">
              <div class="{{complexityProgressBar}}" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="{{complexityCSS}}">
                  {{complexity}}
              </div>
            </div>
        </div>
    </div>
</div> <!-- end: COMPLEXITY -->

<!-- endfile includes -->
{{> javascripts }}

{{> footer }}
