<!-- start includes -->
{{> header }}
{{> navbar }}

<!-- start: TITLE ZONE DESKTOP -->
<div class="container-fluid title-zone-proposals hidden-sm hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 xl-buffer text-center">
                <h1>PROJECT PROPOSALS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <em><h3>Wondering what could you implement with the family search API? Check the following project proposals</h3></em>
            </div>
        </div>
    </div>
</div> <!-- end: TITLE ZONE DESKTOP -->

<!-- start: TITLE ZONE MOBILE -->
<div class="container-fluid title-zone-proposals title-zone-sm visible-sm visible-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 sm-buffer text-center">
                <h1>TITLE SPACE</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <em><h3>Subtitle of the project. Somethign larger, but fuckin' cool</h3></em>
            </div>
        </div>
    </div>
</div> <!-- end: TITLE ZONE MOBILE -->

<!-- start: PROJECT PROPOSALS -->
<div class="container">
    <!-- start: PROPOASLS -->
    <div class="row">
        <!-- start: FIRST PROPOSAL -->
        <div class="col-sm-12 md-buffer proposal-box proposal-box-1">
            <div class="row">
                <div class="col-sm-12 thumbnail-img">
                    <img class="cropped" src="/images/exampleBackgroundSearch.jpg"/>
                </div>
            </div>
            <div class="row">
                <div class="thumbnail-text col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <strong><h3>Surname: Last year newborns</h3></strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end: FIRST PROPOSAL-->

        <!-- start: SECOND PROPOSAL -->
        <div class="col-sm-12 md-buffer proposal-box proposal-box-1">
            <div class="row">
                <div class="col-sm-12 thumbnail-img">
                    <img class="cropped" src="/images/exampleBackgroundSearch.jpg"/>
                </div>
            </div>
            <div class="row">
                <div class="thumbnail-text col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <strong><h3>Surname: Last year newborns</h3></strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end: SECOND PROPOSAL-->

        <!-- start: THIRD PROPOSAL -->
        <div class="col-sm-12 md-buffer proposal-box proposal-box-1">
            <div class="row">
                <div class="col-sm-12 thumbnail-img">
                    <img class="cropped" src="/images/exampleBackgroundSearch.jpg"/>
                </div>
            </div>
            <div class="row">
                <div class="thumbnail-text col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <strong><h3>Surname: Last year newborns</h3></strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end: THIRD PROPOSAL-->

    </div> <!-- end: PROPOSALS -->
</div> <!-- end: PROJECT PROPOSALS -->

<!-- endfile includes -->
{{> javascripts }}
<script src="/assets/js/proposalsExamples.js"></script>

{{> footer }}
