<!-- start includes -->
{{> header }}
{{> navbar }}

<!-- start: TITLE ZONE DESKTOP -->
<div class="container-fluid title-zone-proposals hidden-sm hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 xl-buffer text-center">
                <span class="lightbox-text h1">PROJECT PROPOSALS</span>
            </div>
        </div>
        <div class="row sm-buffer">
            <div class="col-md-12 text-center sm-buffer">
                <p class="lightbox-text h3">Wondering what could you implement with the family search API? Check the following project proposals</p>
            </div>
        </div>
    </div>
</div> <!-- end: TITLE ZONE DESKTOP -->

<!-- start: TITLE ZONE MOBILE -->
<div class="container-fluid title-zone-proposals title-zone-sm visible-sm visible-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 sm-buffer text-center">
                <span class="lightbox-text h1">PROJECT PROPOSALS</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center sm-buffer">
                <p class="lightbox-text h3">Wondering what could you implement with the family search API? Check the following project proposals</p>
            </div>
        </div>
    </div>
</div> <!-- end: TITLE ZONE MOBILE -->

<!-- load: Project proposals as future PFCs -->
{{> future-proposals}}

<!-- spacer -->
<div style="height:40px;"></div>

<!-- load: Implemented examples -->
{{> implemented-proposals}}

<!-- endfile includes -->
{{> javascripts }}
<script src="/assets/js/proposalsLinks.js"></script>

{{> footer }}
