<!-- start includes -->
{{> header }}
{{> navbar }}

<!-- start: TITLE ZONE DESKTOP -->
<div class="container-fluid title-zone-proposals hidden-xs">
    <div class="container">
        <div class="row">
            <!-- Title -->
            <div class="col-md-12 xl-buffer text-center">
                <h1 class="lightbox-text">PROJECT PROPOSALS</h1>
            </div>
        </div>
        <div class="row sm-buffer">
            <!-- Subtitle -->
            <div class="col-md-12 text-center sm-buffer">
                <h2 class="lightbox-text text-italic">Wondering what could you implement with the family search API? Check the following project proposals</h2>
            </div>
        </div>
    </div>
</div> <!-- end: TITLE ZONE DESKTOP -->

<!-- start: TITLE ZONE MOBILE -->
<div class="container-fluid title-zone-proposals title-zone-xs visible-xs">
    <div class="container">
        <div class="row">
            <!-- Title -->
            <div class="col-xs-12 sm-buffer text-center">
                <h1 class="lightbox-text h1-5">PROJECT PROPOSALS</h1>
            </div>
        </div>
    </div>
</div> <!-- end: TITLE ZONE MOBILE -->

<!-- load: Project proposals as future PFCs -->
{{> future-proposals}}

<!-- spacer -->
<div style="height:40px;"></div>

<!-- load: Implemented examples -->
{{> implemented-proposals}}

<!-- endfile includes -->
{{> javascripts }}
<script src="/assets/js/proposalExamplesLinks.js"></script>

{{> footer }}
