{{> header }}
{{> navbar }}

<!-- ########################### -->
<!--           TITLES            -->
<!-- ########################### -->

<!-- start: TITLE ZONE DESKTOP -->
<div class="container-fluid example-search-bkg example1 hidden-xs">
    <div class="container">
        <!-- main title -->
        <div class="row">
            <div class="col-md-12 xl-buffer text-center">
                <h1 class="lightbox-text">SURNAME NEWBORNS</h1>
            </div>
        </div>
        <!-- subtitle -->
        <div class="row">
            <div class="col-md-12 text-center sm-buffer hidden-sm">
                <h2 class="lightbox-text text-italic">Check how many people with a specific surname were born last year</h2>
            </div>
        </div>
        <!-- button -->
        <div class="row">
            <div class="col-md-12 xl-buffer text-center">
                <a class="btn btn-default md-buffer" href="/proposals" role="button">Back to examples list</a>
            </div>
        </div>
    </div>
</div> <!-- end: TITLE ZONE DESKTOP -->

<!-- start: TITLE ZONE MOBILE -->
<div class="container-fluid example-search-bkg title-zone-xs example1 visible-xs">
    <div class="container">
        <!-- main title -->
        <div class="row">
            <div class="col-xs-12 sm-buffer text-center">
                <h1 class="lightbox-text h1-5">SURNAME NEWBORNS</h1>
            </div>
        </div>
        <!-- button -->
        <div class="row">
            <div class="col-xs-12 text-center">
                <a class="btn btn-default md-buffer" href="/proposals" role="button">Back to proposals list</a>
            </div>
        </div>
    </div>
</div> <!-- end: TITLE ZONE MOBILE -->

<!-- ########################### -->
<!--         MAIN CONTENT        -->
<!-- ########################### -->

<!-- start: EXAMPLE DESCRIPTION -->
<div class="container sm-buffer">
    <div class="row">
        <div class="col-md-12">
            <h2>Project description</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
            <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
            <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.</p>
        </div>
    </div>
    <div class="row sm-buffer">
        <div class="col-sm-4 hidden-xs">
            <button type="button" class="btn btn-default">Check feature sheet</button>
        </div>
        <div class="col-xs-12 visible-xs">
            <button type="button" class="btn btn-default btn-block">Check feature sheet</button>
        </div>
    </div>
</div> <!-- end: EXAMPLE DESCRIPTION -->

<!-- start: INTERACTIVE EXAMPLE -->
<div class="container sm-buffer">
    <div class="row">
        <div class="col-md-12">
            <h2>Interactive Example</h2>
        </div>
    </div>
</diV> <!-- end: INTERACTIVE EXAMPLE -->

<!--<div class="container-fluid">
    <div id="map"></div>
</div>-->

<!-- start: FORM TO SEARCH -->
<div class="container sm-buffer" id="surname-searcher">
    <div class="row">
        <!-- start: NAME & SURNAME -->
        <div class="form-group col-sm-6">
          <label for="givenName">Given Name</label>
          <input type="text" class="form-control" id="givenName" placeholder="given name">
      </div>
      <div class="form-group col-sm-6">
          <label for="surname">Surname</label>
          <input type="text" class="form-control" id="surname" placeholder="surname">
      </div> <!-- end: Name & Surname -->

      <p class="text-center"><button id="submit" class="btn btn-primary">Search</button></p>

    </div>
</div> <!-- end: FORM TO SEARCH -->

<div class="container md-buffer">
    <div id="geomap"></div>
</div>

<div class="container xl-buffer">
    <div id="barchart"></div>
</div>

{{> javascripts }}
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_hCP4MhT8feEEOHAXTNue-0nNGlvWAWA&signed_in=true&callback=initMap" async defer></script>-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="assets/js/geo-surnames.js"></script>
<script>
    google.charts.load('current', {'packages':['geochart', 'corechart', 'bar']});
    google.charts.setOnLoadCallback(prepareGeomap);
</script>

{{> footer }}
