{{> header }}
{{> navbar }}
{{> pageTitle }}


<!-- ########################### -->
<!--         MAIN CONTENT        -->
<!-- ########################### -->

<!-- start: EXAMPLE DESCRIPTION -->
<div class="container sm-buffer">
    <!-- sectio title -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="example-section">Project description</h2>
        </div>
    </div>
    <!-- text zone -->
    <div class="row sm-buffer">
        <div class="col-md-12">
            <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
            <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
            <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.</p>
        </div>
    </div>
    <div class="row sm-buffer">
        <div class="col-sm-4 hidden-xs">
            <a href="/proposals/surnames" type="button" class="btn btn-default">Check feature sheet</a>
        </div>
        <div class="col-xs-12 visible-xs">
            <a type="button" class="btn btn-default btn-block">Check feature sheet</a>
        </div>
    </div>
</div> <!-- end: EXAMPLE DESCRIPTION -->

<!-- start: INTERACTIVE EXAMPLE DESCRIPTION -->
<div class="container xl-buffer">
    <!-- section title -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="example-section">Interactive Example</h2>
        </div>
    </div>
    <!-- text zone -->
    <div class="row">
        <div class="col-md-12">
            <h3>How to use</h3>
            <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
        </div>
    </div>
</diV> <!-- end: INTERACTIVE EXAMPLE DESCRIPTION-->

<!-- start: FORM TO SEARCH -->
<div id="person-searcher" class="container sm-buffer">
    <!-- section title -->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="example-section">Search Form</h2>
        </div>
    </div>
    <!-- start: ERROR MESSAGES ZONE -->
    <div id="form-errors" class="row sm-buffer hidden">
        <div class = "col-md-12">
            <div class="alert alert-danger" role="alert">
                <p><span class="sans-bold">Uoops!</span> It seems that you might need to correct some fields :)</p>
                <ul class="xs-buffer">
                    <li>Please fill at least one field in the form!</li>
                </ul>
            </div>
        </div>
    </div> <!-- end: ERROR MESSAGES ZONE -->

    <!-- load person forms -->
    {{> searchMainPerson}}
    {{> searchSpouse}}
    {{> searchFather}}
    {{> searchMother}}
</div>  <!-- basic form to search -->

<!-- start: SUBMIT BUTTON -->
<div id="submit-search" class="container md-buffer">
    <!-- submit search -->
    <div class="row">
        <div class="col-sm-12 sm-buffer text-center">
            <button id="person-search-submit" class="btn btn-primary form-font" role="button">Lauch person search</button>
            <a href="#results-zone" id="results-trigger" class="hidden"></a>
            <a href="#person-searcher" id="error-trigger" class="hidden"></a>
            <a href="#specific-person" id="specific-trigger" class="hidden"></a>
        </div>
    </div>
</div>

<!-- start: PERSONS TABLE -->
<div id="results-container">
    <div id="results-zone" class="container" style="display:none">
        <!-- section title -->
        <div class="row xxl-buffer">
            <div class="col-sm-12">
                <h2 class="example-section"><span id="table-title">Person search results</span></h2>
            </div>
        </div>
        <!-- API ERRORS -->
        <div id="api-errors" class="row sm-buffer" style="display:none">
            <div class="col-sm-12">
                <div class="alert alert-danger" role="alert">
                    <p><span class="sans-bold">FamilySearch Uoops!</span> It seems that the connection with the FamilySearch API didn't end as expected. Please try again or refresh the page.</p>
                    <ul class="xs-buffer">
                        <li><span id="api-error-text"></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- loader: TABLE PERSONS -->
        <div id="table-loader" class="row xs-buffer" style="display:none">
            <div class="col-sm-12">
                <img class="img-responsive center-block" src="/images/loader/Preloader_3.gif">
            </div>
        </div>
        <!-- table controls -->
        <div id="table-controls" class="row">
            <div class="col-sm-12 text-center">
                <button id="previous-persons" type="button" class="btn btn-default btn-md">
                    <span class="glyphicon glyphicon-menu-left"></span>
                </button>
                <span id="controls-year"class="h3">Displaying persons:<span id="persons-block" class="sans-bold"></span>of<span id="person-totals"></span></span>
                <button id="next-persons" type="button" class="btn btn-default btn-md">
                    <span class="glyphicon glyphicon-menu-right"></span>
                </button>
            </div>
        </div>
        <!-- table with persons -->
        <div id="persons-table" class="row xs-buffer">
            <div class="col-sm-12">
                <div id="table-container" class="col-sm-12 sm-buffer"></div>
            </div>
        </div>
    </div>
</div>

<!-- start: SPECIFIC PERSON DETAILS -->
<div id="specific-person" class="container" style="display:none">
    <!-- setion title -->
    <div class="row xxl-buffer">
        <div class="col-sm-12">
            <h2 class="example-section"><span id="person-name"></span></h2>
        </div>
    </div>
    <!-- loader: SPECIFIC PERSON -->
    <div id="specific-loader" class="row sm-buffer" style="display:none">
        <div class="col-sm-12">
            <img class="img-responsive center-block" src="/images/loader/gangnam.gif">
        </div>
    </div>
    <!-- person: SPECIFIC DETAILS SECTIONS -->
    <div id="specific-details" style="display:none">
        <!-- person: DISPLAY DATA -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Basic Information<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-display" class="col-sm-12 disclaimer">
                <p>No basic information available for the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="display-information" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!-- person: NAMES -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Names<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-names" class="col-sm-12 disclaimer">
                <p>No names available for the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-names" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!-- person: FACTS -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Facts and Events<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-facts" class="col-sm-12 disclaimer">
                <p>No facts are present for the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-facts" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!-- person: PARENTS -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Parents Information<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-parents" class="col-sm-12 disclaimer">
                <p>No parent relationships stored for the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-parents" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!-- person: SPOUSE -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Spouse Information<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-spouse" class="col-sm-12 disclaimer">
                <p>No spouses for the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-spouse" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!-- person: CHILDREN -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Children Information<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-children" class="col-sm-12 disclaimer">
                <p>No children found for the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-children" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!-- person: ANCESTRY -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Ancestry Information<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-ancestry" class="col-sm-12 disclaimer">
                <p>No ancestry data found for the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-ancestry" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!-- person: DESCENDANCY -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Descendancy Information<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-descendancy" class="col-sm-12 disclaimer">
                <p>No descendancy data found for the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-descendancy" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!-- person: NOTES -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Notes recorded<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-notes" class="col-sm-12 disclaimer">
                <p>No notes related to the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-notes" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!-- person: SOURCES -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Sources related<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-sources" class="col-sm-12 disclaimer">
                <p>No sources related to the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-sources" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!--
        <div class="row">
            <div class="col-sm-12">
                <h3>Discussions involved</h3>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-discussions" class="col-sm-12 table-bottom-0"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Memories / Artifacts</h3>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-memories" class="col-sm-12 table-bottom-0"></div>
        </div> -->
        <!-- person: CHANGES -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Changes Record<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-changes" class="col-sm-12 disclaimer">
                <p>No changes recorded for the selected user.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-changes" class="col-sm-12 table-bottom-0"></div>
        </div>
    </div>
</div>


{{> javascripts }}
<script src="/assets/js/formValidation.js"></script>
<script src="/assets/js/search.js"></script>

{{> footer }}
