{{> header }}
{{> navbar }}
{{> pageTitle }}


<!-- ########################### -->
<!--         MAIN CONTENT        -->
<!-- ########################### -->

<!-- start: EXAMPLE DESCRIPTION -->
<div class="container sm-buffer">
    <!-- sectio title -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="example-section">Project description</h2>
        </div>
    </div>
    <!-- text zone -->
    <div class="row sm-buffer">
        <div class="col-md-12">
            <p>This functionality enables you to search over all the available person instances included on the FamilyTree model from FamilySearch.</p>
            <p>The goal of this functionality is to expose how the person’s search functionality works, which parameters can be used to filter the results and what data is easily accessed from the search response.</p>
            <p>This functionality though, is not trying to expose all the accessible data through the response. If we were to print everything, for all the relatives of a given person, the load of information to be displayed would interfere with the main purpose of the tool, which is to clearly expose the main data related to the Person FamilySearch resource.</p>
            <p>Additionally, this functionality features the search over the family tree as an exploration tool. Therefore, it only allows you to check the details of a person returned by the search functionality.</p>
        </div>
    </div>
    <div class="row sm-buffer">
        <div class="col-sm-4 hidden-xs">
            <a href="/proposals/search" type="button" class="btn btn-default">Check project proposal</a>
        </div>
        <div class="col-xs-12 visible-xs">
            <a href="/proposals/search" type="button" class="btn btn-default btn-block">Check project proposal</a>
        </div>
    </div>
</div> <!-- end: EXAMPLE DESCRIPTION -->

<!-- start: INTERACTIVE EXAMPLE DESCRIPTION -->
<div class="container xl-buffer">
    <!-- section title -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="example-section">How to use</h2>
        </div>
    </div>
    <!-- text zone -->
    <div class="row">
        <div class="col-md-12 sm-buffer">
            <p>The first part of this functionality consists of a form to configure the Person’s search. The following fields can be introduced:</p>
            <ul>
                <li><b>Gender: </b>Parameter only available for the Main Person being searched, tells the system the gender of the person being searched.</li>
                <li><b>Exact Names: </b>FamilySearch features the option of accepting similar names to the ones introduced in case that we don’t exactly recall how the name/surnames of an ancestor or person of interest were spelled. If the 'Exact' option is selected, the search will look for exact matches for the Name & Surnames fields. On the other hand, the 'Similar' option will allow the inclusion of non exact matches for Name & Surnames fields.</li>
                <li><b>Name: </b>The given name of the person.</li>
                <li><b>Surname: </b>The surname of the person.</li>
                <li><b>Birth Place: </b>Geographical place where the person was born.</li>
                <li><b>Marriage Place: </b>Geographical place where the person got married.</li>
                <li><b>Death Place: </b>Geographical place where the person died.</li>
                <li><b>Birth Date: </b>Date in which the searched person was born.</li>
                <li><b>Marriage Date: </b>Date in which the searched person got married.</li>
                <li><b>Death Date: </b>Date in which the searched person died.</li>
            </ul>
            <p>You can also include all these fields for the main relatives of the person being searched. The accepted relatives are: Spouse, Father and Mother.</p>
            <p>Once the search finishes (at least one form parameter should be introduced in order to properly launch a search), a list of fifteen results will appear on your screen. You can browse through that list or select one of the returned persons to check if detailed information for that person is available.</p>
        </div>
    </div>
</diV> <!-- end: INTERACTIVE EXAMPLE DESCRIPTION-->

<!-- start: FORM TO SEARCH -->
<div id="person-searcher" class="container sm-buffer">
    <!-- section title -->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="example-section">Search Form</h2>
        </div>
    </div>
    <!-- start: ERROR MESSAGES ZONE -->
    <div id="form-errors" class="row sm-buffer hidden">
        <div class = "col-md-12">
            <div class="alert alert-danger" role="alert">
                <p><span class="sans-bold">Uoops!</span> It seems that you might need to correct some fields :)</p>
                <ul class="xs-buffer">
                    <li>Please fill at least one field in the form!</li>
                </ul>
            </div>
        </div>
    </div> <!-- end: ERROR MESSAGES ZONE -->

    <!-- load person forms -->
    {{> searchMainPerson}}
    {{> searchSpouse}}
    {{> searchFather}}
    {{> searchMother}}
</div>  <!-- basic form to search -->

<!-- start: SUBMIT BUTTON -->
<div id="submit-search" class="container md-buffer">
    <!-- submit search -->
    <div class="row">
        <div class="col-sm-12 sm-buffer text-center">
            <button id="person-search-submit" class="btn btn-primary form-font" role="button">Lauch person search</button>
            <a href="#results-zone" id="results-trigger" class="hidden"></a>
            <a href="#person-searcher" id="error-trigger" class="hidden"></a>
            <a href="#specific-person" id="specific-trigger" class="hidden"></a>
        </div>
    </div>
</div>

<!-- start: PERSONS TABLE -->
<div id="results-container">
    <div id="results-zone" class="container" style="display:none">
        <!-- section title -->
        <div class="row xxl-buffer">
            <div class="col-sm-12">
                <h2 class="example-section"><span id="table-title">Person search results</span></h2>
            </div>
        </div>
        <!-- API ERRORS -->
        <div id="api-errors" class="row sm-buffer" style="display:none;">
            <div class="col-sm-12">
                <div class="alert alert-danger" role="alert">
                    <p><span class="sans-bold">FamilySearch Uoops!</span> It seems that the connection with the FamilySearch API didn't go as expected. Please try waiting a few minutes, logging in again or refreshing the page.</p>
                    <ul class="xs-buffer">
                        <li><span id="api-error-text"></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- loader: TABLE PERSONS -->
        <div id="table-loader" class="row xs-buffer" style="display:none">
            <div class="col-sm-12">
                <img class="img-responsive center-block" src="/images/loader/Preloader_3.gif">
            </div>
        </div>
        <!-- table controls -->
        <div id="table-controls" class="row">
            <div class="col-sm-12 text-center">
                <button id="previous-persons" type="button" class="btn btn-default btn-md">
                    <span class="glyphicon glyphicon-menu-left"></span>
                </button>
                <span id="controls-year"class="h3">Displaying persons:<span id="persons-block" class="sans-bold"></span>of<span id="person-totals"></span></span>
                <button id="next-persons" type="button" class="btn btn-default btn-md">
                    <span class="glyphicon glyphicon-menu-right"></span>
                </button>
            </div>
        </div>
        <!-- table with persons -->
        <div id="persons-table" class="row xs-buffer">
            <div class="col-sm-12">
                <div id="table-container" class="col-sm-12 sm-buffer"></div>
            </div>
        </div>
    </div>
</div>

<!-- start: SPECIFIC PERSON DETAILS -->
<div id="specific-person" class="container" style="display:none">
    <!-- setion title -->
    <div class="row xxl-buffer">
        <div class="col-sm-12">
            <h2 class="example-section"><span id="person-name"></span></h2>
        </div>
    </div>
    <!-- loader: SPECIFIC PERSON -->
    <div id="specific-loader" class="row sm-buffer" style="display:none">
        <div class="col-sm-12">
            <img class="img-responsive center-block" src="/images/loader/gangnam.gif">
        </div>
    </div>
    <!-- person: SPECIFIC DETAILS SECTIONS -->
    <div id="specific-details" style="display:none">
        <!-- person: DISPLAY DATA -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Basic Information<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-display" class="col-sm-12 disclaimer">
                <p>No basic information available for the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="display-information" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!-- person: NAMES -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Names<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-names" class="col-sm-12 disclaimer">
                <p>No names available for the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-names" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!-- person: FACTS -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Facts and Events<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-facts" class="col-sm-12 disclaimer">
                <p>No facts are present for the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-facts" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!-- person: PARENTS -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Parents Information<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-parents" class="col-sm-12 disclaimer">
                <p>No parent relationships stored for the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-parents" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!-- person: SPOUSE -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Spouse Information<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-spouse" class="col-sm-12 disclaimer">
                <p>No spouses for the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-spouse" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!-- person: CHILDREN -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Children Information<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-children" class="col-sm-12 disclaimer">
                <p>No children found for the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-children" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!-- person: ANCESTRY -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Ancestry Information<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-ancestry" class="col-sm-12 disclaimer">
                <p>No ancestry data found for the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-ancestry" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!-- person: DESCENDANCY -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Descendancy Information<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-descendancy" class="col-sm-12 disclaimer">
                <p>No descendancy data found for the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-descendancy" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!-- person: NOTES -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Notes recorded<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-notes" class="col-sm-12 disclaimer">
                <p>No notes related to the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-notes" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!-- person: SOURCES -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Sources related<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-sources" class="col-sm-12 disclaimer">
                <p>No sources related to the selected person.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-sources" class="col-sm-12 table-bottom-0"></div>
        </div>
        <!--
        <div class="row">
            <div class="col-sm-12">
                <h3>Discussions involved</h3>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-discussions" class="col-sm-12 table-bottom-0"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Memories / Artifacts</h3>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-memories" class="col-sm-12 table-bottom-0"></div>
        </div> -->
        <!-- person: CHANGES -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Changes Record<a href="#specific-person" type="button"><span class="glyphicon glyphicon-arrow-up glyph-left"></span></a></h3>
            </div>
            <div id="disclaimer-changes" class="col-sm-12 disclaimer">
                <p>No changes recorded for the selected user.</p>
            </div>
        </div>
        <div class="row xs-buffer">
            <div id="table-changes" class="col-sm-12 table-bottom-0"></div>
        </div>
    </div>
</div>


{{> javascripts }}
<script src="/assets/js/formValidation.js"></script>
<script src="/assets/js/search.js"></script>

{{> footer }}
