{{> header }}
{{> navbar }}
{{> pageTitle }}

<!-- ########################### -->
<!--         MAIN CONTENT        -->
<!-- ########################### -->

<!-- start: EXAMPLE DESCRIPTION -->
<div class="container sm-buffer">
    <!-- sectio title -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="example-section">Project description</h2>
        </div>
    </div>
    <!-- text zone -->
    <div class="row sm-buffer">
        <div class="col-md-12">
            <p>The surnames functionality enables you to check how many instances of a given surname are registered on a set of countries in a specific year or time interval.</p>
            <p>The goal of this feature is to try to understand how a certain surnames expanded over the years on a set of different countries or continents. With this simple tool we aim to find were the ancestors of a given surname might have come from and how much of each etnicity or race there is in a given surname.</p>
            <p>We do notice that this tool is far from solving the two questions on the above paragraph but it might result helpful when trying to undertand how global the world actually is.</p>
        </div>
    </div>
    <div class="row sm-buffer">
        <div class="col-sm-4 hidden-xs">
            <a href="/proposals/surnames" type="button" class="btn btn-default">Check feature sheet</a>
        </div>
        <div class="col-xs-12 visible-xs">
            <a type="button" class="btn btn-default btn-block">Check feature sheet</a>
        </div>
    </div>
</div> <!-- end: EXAMPLE DESCRIPTION -->

<!-- start: INTERACTIVE EXAMPLE DESCRIPTION -->
<div class="container xl-buffer">
    <!-- section title -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="example-section">Interactive Example</h2>
        </div>
    </div>
    <!-- text zone -->
    <div class="row">
        <div class="col-md-12 sm-buffer">
            <p>To use this feature we just need to introduce some basic data. Each field has the following meaning:</p>
            <ul>
                <li><b>Surname: </b>Mandatory field. It tells the system for which surname the search has to be performed.</li>
                <li><b>Year: </b>Mandatory field. It tells the system for which year, in a four digits foramt, it has to do the search.  It also represents the first year of the time interval to be checked in case that the next parameter is also introduced.</li>
                <li><b>Range: </b>Optional Field. If specified, in a four digits format, it tells the system that it wants to perform the search over the period of time Year – Range.</li>
                <li><b>Interval: </b>Optional Field. Numeric. It is required if the Range field is not empty. It tells the system after how many years new data shuld be pulled on the time interval.</li>
                <li><b>Countries: </b>The selected checkboxes over the different continents will  set the list of countries in which the surname search will be launched for each year computed of the time interval.</li>
            </ul>
            <p>The duration of the operation might be in the scale of: 2*num_countries*num_years (seconds), so try to keep both indexes in the low numbers.</p>
            <p>As an example, if we searched for the surname Smith with the parameter year: 1900, the range parameter: 2000, using as as interval: 20 and with the selected countries: United States, United Kingdom and Canada, the system would perform a search that would display the number of persons, having Smith as a surname, found on each country over the years 1900, 1920, 1940, 1960, 1980 and 2000. And the operation might take up to: 2*3*6 (36 seconds).</p>
        </div>
    </div>
</diV> <!-- end: INTERACTIVE EXAMPLE DESCRIPTION-->

<!-- start: FORM TO SEARCH -->
<div class="container sm-buffer" id="surname-searcher">
    <div class="row">
        <div class="col-sm-12 md-buffer">
            <h2 class="example-section">Search Form</h2>
        </div>
    </div>
    <!-- start: ERROR MESSAGES ZONE -->
    <div id="form-errors" class="row sm-buffer hidden">
        <div class = "col-md-12">
            <div class="alert alert-danger" role="alert">
                <p><span class="sans-bold">Uoops!</span> It seems that you might need to correct some fields :)</p>
                <ul class="xs-buffer">
                    <li id="surnameError" class="hidden">Please introduce a valid Surname.</li>
                    <li id="firstYearError" class="hidden">Introduce a valid Birth Year. For example: 1905 </li>
                    <li id="lastYearError" class="hidden">Introduce a valid Range Year. An example: 1989</li>
                    <li id="intervalError" class="hidden">Introduce a valid interval. For example: 42</li>
                    <li id="countryError" class="hidden">Please select at least one country.</li>
                </ul>
            </div>
        </div>
    </div> <!-- end: ERROR MESSAGES ZONE -->
    <!-- start: BASIC FORM FIELDS -->
    <div class="row sm-buffer">
        <!-- surname form field -->
        <div class="form-group col-sm-4">
            <label for="surname" class="label-font">Surname</label>
            <input type="text" class="form-control form-font form-vali" id="surname" placeholder="surname">
        </div>
        <!-- first year form field -->
        <div class="form-group col-sm-3">
            <label for="firstYear" class="label-font">Birth Year</label>
            <input type="text" class="form-control form-font form-vali" id="firstYear" placeholder="YYYY">
        </div>
        <!-- range year form field -->
        <div class="form-group col-sm-3">
            <label for="lastYear" class="label-font">Range (optional)</label>
            <input type="text" class="form-control form-font form-vali" id="lastYear" placeholder="YYYY">
        </div>
        <!-- interval year form field -->
        <div class="form-group col-sm-2">
            <label for="interval" class="label-font">Interval</label>
            <input type="text" class="form-control form-font form-vali" id="interval" placeholder="10" value="10">
        </div>
    </div> <!-- end: BASIC FORM FIELDS -->
</div> <!-- end: FORM TO SEARCH -->

<!-- start: COUNTRIES -->
<div class="container">
    <!-- start: NORTH AMERICA COUNTRIES -->
    <!-- ############################## -->
    <div id="na-container">
        <!-- section title -->
        <div class="row xxl-buffer collapseHeader" data-toggle="collapse" href="#na-countries">
            <div class="col-sm-6 personHeaderTitle">
                <h3><span class="personHeaderSign">-</span> North American countries</h3>
            </div>
            <div class="col-sm-6 text-right personHeaderGlyph hidden-xs">
                <span class="personHeaderText text-italic" style="vertical-align:middle">Click to expand/contract form</span>
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true" style="vertical-align:middle"></span>
            </div>
        </div>
        <!-- country content -->
        <div id="na-countries" class="collapse in">
            <!-- country checkboxes -->
            <div class="row md-buffer">
                {{#northAmerica}}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="{{code}}" value="" class="form-checkbox checkbox-na">{{name}}
                    </label>
                </div>
                {{/northAmerica}}
            </div>
            <!-- country controls -->
            <div class="row sm-buffer">
                <button class="btn btn-default checkbox-all" role="button">
                    Select All Countries
                </button>
            </div>
        </div>
    </div> <!-- end: NORTH AMERICAN COUNTRIES -->

    <!-- start: SOUTH AMERICA COUNTRIES -->
    <!-- ############################## -->
    <div id="sa-container">
        <!-- section title -->
        <div class="row xxl-buffer collapseHeader" data-toggle="collapse" href="#sa-countries">
            <div class="col-sm-6 personHeaderTitle">
                <h3><span class="personHeaderSign">+</span> South American countries</h3>
            </div>
            <div class="col-sm-6 text-right personHeaderGlyph hidden-xs">
                <span class="personHeaderText text-italic" style="vertical-align:middle">Click to expand/contract form</span>
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true" style="vertical-align:middle"></span>
            </div>
        </div>
        <!-- country content -->
        <div id="sa-countries" class="collapse">
            <!-- country checkboxes -->
            <div class="row md-buffer">
                {{#southAmerica}}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="{{code}}" value="" class="form-checkbox checkbox-sa">{{name}}
                    </label>
                </div>
                {{/southAmerica}}
            </div>
            <!-- country controls -->
            <div class="row sm-buffer">
                <button class="btn btn-default checkbox-all" role="button">
                    Select All Countries
                </button>
            </div>
        </div>
    </div> <!-- end: SOUTH AMERICAN COUNTRIES -->

    <!-- start: EUROPEAN COUNTRIES -->
    <!-- ######################### -->
    <div id="eu-container">
        <!-- country title -->
        <div class="row md-buffer collapseHeader" data-toggle="collapse" href="#eu-countries">
            <div class="col-sm-6 personHeaderTitle">
                <h3><span class="personHeaderSign">+</span> European countries</h3>
            </div>
            <div class="col-sm-6 text-right personHeaderGlyph hidden-xs">
                <span class="personHeaderText text-italic" style="vertical-align:middle">Click to expand/contract form</span>
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true" style="vertical-align:middle"></span>
            </div>
        </div>
        <!-- country content -->
        <div id="eu-countries" class="collapse">
            <!-- country checkboxes -->
            <div class="row md-buffer">
                {{#europe}}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="{{code}}" value="" class="form-checkbox checkbox-eu">{{name}}
                    </label>
                </div>
                {{/europe}}
            </div>
            <!-- country controls -->
            <div class="row sm-buffer">
                <button class="btn btn-default checkbox-all" role="button">
                    Select All Countries
                </button>
            </div>
        </div>
    </div> <!-- end: EUROPEAN COUNTRIES -->

    <!-- start: OCEANIA COUNTRIES -->
    <!-- ######################## -->
    <div id="oc-container">
        <!-- section title -->
        <div class="row xxl-buffer collapseHeader" data-toggle="collapse" href="#oc-countries">
            <div class="col-sm-6 personHeaderTitle">
                <h3><span class="personHeaderSign">+</span> Oceanian countries</h3>
            </div>
            <div class="col-sm-6 text-right personHeaderGlyph hidden-xs">
                <span class="personHeaderText text-italic" style="vertical-align:middle">Click to expand/contract form</span>
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true" style="vertical-align:middle"></span>
            </div>
        </div>
        <!-- country content -->
        <div id="oc-countries" class="collapse">
            <!-- country checkboxes -->
            <div class="row md-buffer">
                {{#oceania}}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="{{code}}" value="" class="form-checkbox checkbox-oc">{{name}}
                    </label>
                </div>
                {{/oceania}}
            </div>
            <!-- country controls -->
            <div class="row sm-buffer">
                <button class="btn btn-default checkbox-all" role="button">
                    Select All Countries
                </button>
            </div>
        </div>
    </div> <!-- end: OCEANIAN COUNTRIES -->

    <!-- start: ASIA COUNTRIES -->
    <!-- ##################### -->
    <div id="as-container">
        <!-- section title -->
        <div class="row xxl-buffer collapseHeader" data-toggle="collapse" href="#as-countries">
            <div class="col-sm-6 personHeaderTitle">
                <h3><span class="personHeaderSign">+</span> Asian countries</h3>
            </div>
            <div class="col-sm-6 text-right personHeaderGlyph hidden-xs">
                <span class="personHeaderText text-italic" style="vertical-align:middle">Click to expand/contract form</span>
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true" style="vertical-align:middle"></span>
            </div>
        </div>
        <!-- country content -->
        <div id="as-countries" class="collapse">
            <!-- country checkboxes -->
            <div class="row md-buffer">
                {{#asia}}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="{{code}}" value="" class="form-checkbox checkbox-as">{{name}}
                    </label>
                </div>
                {{/asia}}
            </div>
            <!-- country controls -->
            <div class="row sm-buffer">
                <button class="btn btn-default checkbox-all" role="button">
                    Select All Countries
                </button>
            </div>
        </div>
    </div> <!-- end: ASIAN COUNTRIES -->

    <!-- start: AFRICA COUNTRIES -->
    <!-- ####################### -->
    <div id="af-container">
        <!-- section title -->
        <div class="row xxl-buffer collapseHeader" data-toggle="collapse" href="#af-countries">
            <div class="col-sm-6 personHeaderTitle">
                <h3><span class="personHeaderSign">+</span> African countries</h3>
            </div>
            <div class="col-sm-6 text-right personHeaderGlyph hidden-xs">
                <span class="personHeaderText text-italic" style="vertical-align:middle">Click to expand/contract form</span>
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true" style="vertical-align:middle"></span>
            </div>
        </div>
        <!-- country content -->
        <div id="af-countries" class="collapse">
            <!-- country checkboxes -->
            <div class="row md-buffer">
                {{#africa}}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="{{code}}" value="" class="form-checkbox checkbox-af">{{name}}
                    </label>
                </div>
                {{/africa}}
            </div>
            <!-- country controls -->
            <div class="row sm-buffer">
                <button class="btn btn-default checkbox-all" role="button">
                    Select All Countries
                </button>
            </div>
        </div>
    </div> <!-- end: AFRICAN COUNTRIES -->

</div> <!-- end: COUNTRIES -->

<!-- start: SUBMIT BUTTON -->
<div id="submit-search" class="container md-buffer">
    <!-- search button -->
    <div class="row">
        <div class="col-sm-12 sm-buffer text-center">
            <button id="submit" class="btn btn-primary form-font" role="button">Lauch surname search</button>
            <a href="#results-zone" id="results-trigger" class="hidden"></a>
            <a href="#surname-searcher" id="error-trigger" class="hidden"></a>
        </div>
    </div>
</div>

<!-- start: RESULTS SPACE -->
<div id="results-zone" class="md-buffer">
    <!-- start: WAITING PAGE ZONE -->
    <div id="waiting-page" class="container-fluid" style="display:none;">
        <div class="container">
            <!-- text -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2><span id="search-title"></span><span id="search-surname"></span><span id="search-title-2"></span></h2>
                    <h4 class="text-italic"><span id="search-time"></span><span id="search-duration" class="lora-bold"></span><span id="search-time-2"></span></h4>
                </div>
            </div>
            <!-- start: CURRENT ITERATION -->
            <div class="row">
                <!-- desktop alginments -->
                <div class="col-sm-6 text-right hidden-xs">
                    <h4><span class="year-label"></span><span class="current-year" class="lora-bold"></span></h4>
                </div>
                <div class="col-sm-6 text-left hidden-xs">
                    <h4><span class="country-label"></span><span class="current-country" class="lora-bold"></span></h4>
                </div>
                <!-- smartphone alignment -->
                <div class="col-xs-12 text-center visible-xs">
                    <h4><span class="year-label"></span><span class="current-year" class="lora-bold"></span></h4>
                </div>
                <div class="col-xs-12 text-center visible-xs">
                    <h4><span class="country-label"></span><span class="current-country" class="lora-bold"></span></h4>
                </div>
            </div>
            <!-- progress bar -->
            <div class="row sm-buffer">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <div class="progress">
                        <div id="progress-value" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 0%">
                            <span id="progress-text"></span>
                        </div>
                    </div>
                </div>
            </div> <!-- end progress bar -->
        </div>
    </div> <!-- end: WAITING PAGE ZONE -->
    <!-- API ERRORS -->
    <div class="container">
        <div id="api-errors" class="row sm-buffer" style="display:none;">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="example-section"><span id="table-title">Surnames search error</span></h2>
                </div>
            </div>
            <!-- error display -->
            <div class="row sm-buffer">
                <div class="col-sm-12">
                    <div class="alert alert-danger" role="alert">
                        <p><span class="sans-bold">FamilySearch Uoops!</span> It seems that the connection with the FamilySearch API didn't go as expected. Please try waiting a few minutes, logging in again or refreshing the page.</p>
                        <ul class="xs-buffer">
                            <li><span id="api-error-text"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end: RESULTS ZONE (waiting + api errors) -->

<!-- start: DETACHABLE YEARLY CONTROL -->
<div id="controls-block" class="container sm-buffer">
    <!-- start: PRINT MAP CONTROLS -->
    <div class="row">
        <div class="col-md-12 text-center">
            <button id="previous-year" type="button" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-menu-left"></span>
            </button>
            <span id="controls-year"class="h3">Year data: <span id="year-number" class="sans-bold"></span></span>
            <button id="next-year" type="button" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </div> <!-- end: PRINT MAP CONTROLS -->
</div> <!-- end: DETACHABLE YEARLY CONTROL -->

<!-- start: GRAPHS CONTAINER -->
<div id="graphs" class="container">
    <!-- start: GEOMAP TITLE -->
    <div class="row md-buffer">
        <div class="col-md-12">
            <h2>Geomap Results</h2>
        </div>
    </div>
    <!-- start: GEOMAP MAP -->
    <div class="row xxl-buffer">
        <div class="col-md-12">
            <div id="geomap"></div>
        </div>
    </div>

    <!-- start: BARCHART TITLE -->
    <div class="row xxxl-buffer">
        <div class="col-md-12">
            <h2>Bar chart Results</h2>
        </div>
    </div>
    <!-- start: BARCHART CHART -->
    <div class="row md-buffer">
        <div class="col-md-12">
            <div id="barchart"></div>
        </div>
    </div>
</div> <!-- end: GRAPHS CONTAINER -->

<!-- start: LINECHART -->
<div id="lineOverall" class="container">
    <!-- start: LINECHART TITLE -->
    <div class="row xxxl-buffer">
        <div class="col-md-12">
            <h2>Years evolution</h2>
        </div>
    </div>
    <!-- start: GEOMAP MAP -->
    <div class="row md-buffer">
        <div class="col-md-12">
            <div id="linechart"></div>
        </div>
    </div>
</div>

{{> javascripts }}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="/assets/js/formValidation.js"></script>
<script src="/assets/js/geo-surnames.js"></script>
<script>
    google.charts.load('current', {'packages':['geochart', 'bar', 'line']});
</script>

{{> footer }}
