<!-- start includes -->
{{> header }}
{{> navbar }}

<!-- start: IMAGE HEADER -->
<div class="container-fluid negativePadding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 xl-buffer">
                <h1>TITLE SPACE</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <em><h3>Subtitle of the project. Somethign larger, but fuckin' cool</h3></em>
            </div>
        </div>
    </div>
</div> <!-- end: IMAGE HEADER -->

<!-- start: COLUMNS ZONE -->
<div class="container xxxl-buffer">
    <div class="row">
        <!-- start: ROW 1 -->
        <div class="col-md-4">
            <div class="row">
                <!-- column: image -->
                <div class="col-md-12 text-center">
                    <img src="/images/aboutProject.png" width="250px" class="img-responsive center-block"/>
                </div>
                <!-- column: title -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="h3">Project Background</p>
                    </div>
                </div>
                <!-- column: text -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p> lore ipsum megaleft asdfjasdkfjasdkf fasdfajsdkfasdf  jaksdfjadksfja skdfj askdjf askdjf aksdj faksdjf asdjfasdjewijqwieqwe qw eqwe kj asdkj fsdk jfasdkfj asdkfj asqejk we qwe </p>
                    </div>
                </div>
            </div>
        </div> <!-- end: ROW 1 -->

        <!-- start: ROW 2 -->
        <div class="col-md-4">
            <div class="row">
                <!-- column: image -->
                <div class="col-md-12 text-center">
                    <img src="/images/possibleProjects.png" width="250px" class="img-responsive center-block"/>
                </div>
                <!-- column: title -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="h3">Proposed Projects</p>
                    </div>
                </div>
                <!-- column: text -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p> lore ipsum megaleft asdfjasdkfjasdkf fasdfajsdkfasdf  jaksdfjadksfja skdfj askdjf askdjf aksdj faksdjf asdjfasdjewijqwieqwe qw eqwe kj asdkj fsdk jfasdkfj asdkfj asqejk we qwe </p>
                    </div>
                </div>
            </div>
        </div> <!-- end: ROW 2 -->

        <!-- start: ROW 3 -->
        <div class="col-md-4">
            <div class="row">
                <!-- column: image -->
                <div class="col-md-12 text-center">
                    <img src="/images/examples.png" width="250px" class="img-responsive center-block"/>
                </div>
                <!-- column: title -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="h3">Interactive Examples</p>
                    </div>
                </div>
                <!-- column: text -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p> lore ipsum megaleft asdfjasdkfjasdkf fasdfajsdkfasdf  jaksdfjadksfja skdfj askdjf askdjf aksdj faksdjf asdjfasdjewijqwieqwe qw eqwe kj asdkj fsdk jfasdkfj asdkfj asqejk we qwe </p>
                    </div>
                </div>
            </div>
        </div> <!-- end: ROW 3 -->

</div> <!-- end: COLUMNS ZONE -->

<!-- start: PRODUCT LOOP -->
<div class="container md-buffer">
    <div class="row">
        {{#product}}
        <div class="col-md-4 text-center"> {{name}} </div>
        {{/product}}
    </div>

    <div clas="row xl-buffer">
        <div class="col-md-12 text-center">
            <a href="/search">CLICK HERE!</a>
        </div>
    </div>
</div> <!-- end: PRODUCT LOOP -->


<!-- endfile includes -->
{{> javascripts }}

<script src="assets/js/index.js"></script>
<script src="assets/js/cookies.js"></script>

{{> footer }}
