/* ============================= */
/* BUFFERS                       */
/* ============================= */
.xxxl-buffer {
    margin-top: 60px;
}

.xxl-buffer {
    margin-top:50px;
}

.xl-buffer {
    margin-top:40px;
}

.md-buffer {
    margin-top:30px;
}

.sm-buffer {
    margin-top:20px;
}

.xs-buffer {
    margin-top:10px;
}

/* ============================= */
/* OVERALL ELEMENTS              */
/* ============================= */
li a, li a:hover, li a:focus {
  color: #111111 !important;
  text-decoration: none !important;
}

.margin-bottom-0 {
    margin-bottom:0px;
}

/* ---------------------------------------------------------------- */

/* ============================= */
/* SPECIFIC PAGE CSS: Index      */
/* ============================= */
.greeting-img {
    width: 400px;
    border-bottom: 1px solid black;
}

/* ============================= */
/* SPECIFIC PAGE CSS: Home       */
/* ============================= */
.title-zone {
  background-image: url('/images/logoBackgroundTransparent.png');
  background-repeat: repeat;
  background-position: center center;
  height: 400px;
}

.title-zone-sm {
    height: 300px;
}

/* ============================= */
/* SPECIFIC PAGE CSS: Search     */
/* ============================= */
#map {
    width: 100%;
    height: 600px;
}
