/* ============================= */
/* FONTS AND SIZES               */
/* ============================= */
/* Common Configurations */
.text-italic {
    font-style:italic;
}

.lora-bold {
    font-weight: 700;
}

.sans-bold {
    font-weight: 600;
}

.sans-bold-extra {
    font-weight: 700;
}

.text-highlighted {
    line-height: 1.8em;
}

.darkbox-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: inline;
    padding: 0.2em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.lightbox-text {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    display: inline;
    padding: 0.2em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

/* HTML Font assignments */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
    font-weight: 400;
    line-height: 1.8em;
}

.h1, .h2, .h3, .h4, .h5, .h6, p, .row, a, li {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.5em;

}

h1 {
    font-size: 54px;
    line-height: 1.8em;
}

.h1-5 {
    font-size: 42px;
}

 p, body {
    font-size: 20px;
 }

 #footer p {
     font-size: 14px;
 }

 .navbar-nav li {
     font-size: 16px;
 }

 .label-font {
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 600;
     font-size:20px;
 }


 .form-font, .header-button {
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
     height: 40px;
     font-size:20px;
 }

 .header-button {
     font-size: 16px;
 }

 #progress-text {
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 400;
     font-size: 16px;
     display: block;
     margin-top: 2px;
 }

 .alert-danger {
     font-size: 16px;
 }

 .personHeaderText {
     margin-right: 8px;
     font-size: 18px;
 }

/* ============================= */
/* BUFFERS                       */
/* ============================= */
.xxxl-buffer {
    margin-top: 60px;
}

.xxl-buffer {
    margin-top:50px;
}

.xl-buffer {
    margin-top:40px;
}

.md-buffer {
    margin-top:30px;
}

.sm-buffer {
    margin-top:20px;
}

.xs-buffer {
    margin-top:10px;
}

/* ============================= */
/* OVERALL ELEMENTS              */
/* ============================= */
li a, li a:hover, li a:focus {
  color: #111111 !important;
  text-decoration: none !important;
}

.no-link, .no-link:hover, .no-link:focus {
    text-decoration: none !important;
    color: inherit !important;
}

.margin-bottom-0 {
    margin-bottom:0px;
}

.block-pointer {
    cursor: pointer;
}

/* ============================= */
/* FOOTER                        */
/* ============================= */
#footer {
    border-top: 1px solid #cbcbcb;
    background-color: #fefefe;
    margin-bottom: 20px;
}

/* ============================= */
/* SPECIFIC PAGE CSS: Index      */
/* ============================= */
.greeting-img {
    width: 400px;
    border-bottom: 1px solid black;
}

/* ============================= */
/* SPECIFIC PAGE CSS: Home       */
/* ============================= */
.title-zone {
  background-image: url('/images/logoBackgroundTransparent.png');
  background-repeat: repeat;
  background-position: center center;
  height: 400px;
}

/* ============================= */
/* SPECIFIC PAGE CSS: EXAMPLES   */
/* ============================= */
.title-zone-examples {
  background-image: url('/images/interactiveExamplesBackground.png');
  background-repeat: no-repeat;
  background-position: center center;
  height: 400px;
}

/* ============================= */
/* SPECIFIC PAGE CSS: PROPOSALS  */
/* ============================= */
.title-zone-proposals {
  background-image: url('/images/proposals.png');
  background-repeat: no-repeat;
  background-position: center center;
  height: 400px;
}

/* ============================= */
/* SPECIFIC PAGE CSS: Examples   */
/* ============================= */
.example-search-bkg {
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: 1px solid #333333;
    height: 400px;
}

/* ============================= */
/* BACKGROUDS: Props & Exampl    */
/* ============================= */
/* Example 1 background image location */
.example1 {
    background-image: url('/images/exampleBackgroundSearch.jpg');
}

/* Name popularity proposal & implementation image */
.name-popualarity-bkg {
    background-image: url('/images/namesCloud.jpg');
}

/* Example surnames */
.exampleSurnames {
    background-image: url('/images/exampleSurnames.jpg');
}

/* Example Facts */
.exampleFacts {
    background-image: url('/images/exampleFacts.jpg');
}

/* Example search */
.exampleSearch {
    background-image: url('/images/searchBackground.jpg');
}

/* ============================= */
/* HEADERS SMARTPHONE            */
/* ============================= */
.title-zone-xs {
    height: 300px;
}

/* ============================= */
/* SURNAMES BY REGION            */
/* ============================= */
.detached-bottom {
    position: fixed;
    border-top: 1px solid #2e6da4;
    bottom: 0px;
    height: 80px;
    width: 100%;
    margin-top: 0px;
    z-index: 9999;
    background-color: #fff;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.detached-top {
    position: fixed;
    border-bottom: 1px solid #2e6da4;
    top: 0px;
    height: 80px;
    width: 100%;
    margin-top: 0px;
    z-index: 9998;
    background-color: #fff;
}

#waiting-page {
    background-color: #337ab7;
    color: white;
}

.progress {
    height: 26px;
}

#controls-year {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

#controls-block {
    border-bottom: 1px solid #2e6da4;
    padding-bottom: 14px;
}

#controls-block, #graphs, #lineOverall {
    display: none;
}

/* ============================= */
/* SERACH BY FACTS               */
/* ============================= */
#facts-submit {
    margin-top: 34px;
}

/* ============================= */
/* SERACH PERSONS                */
/* ============================= */
.searchPersonHeader {
    display:block;
    cursor: pointer;
    color: #fff;
    background-color: #2e6da4;
}

.searchPersonHeader:hover {
    background-color: #337ab7;
}

.personHeaderGlyph {
    margin-top: 16px;
}

.searchPersonHeader h3 {
    margin-top: 10px;
}

.glyph-rotated {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#table-container tr {
    cursor: pointer;
}

/* ============================= */
/* FORMS                         */
/* ============================= */
.form-checkbox {
    margin-top: 9px !important;
}

.form-radio {
    margin-top: 9px !important;
}
