        <!-- start: FOOTER -->
        <div id="footer" class="container-fuid xl-buffer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center sm-buffer">
                        <em><p>PFC Family search API Study by: <strong>Sergi Porras Pagès</strong></p></em>
                        <em><p>This website is under the creative common license asdfasdf</p></em>
                    </div>
                </div>
            </div>
        </div> <!-- end: FOOTER -->

    </body> <!-- body end -->
</html> <!-- html end -->
