        <!-- start: FOOTER -->
        <div id="footer" class="container-fuid xl-buffer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center sm-buffer">
                        <em><p>This PFC has been done by: <strong>Sergi Porras Pagès</strong> as final project for the Computer engineering carrer in <a href="http://www.fib.upc.edu/fib.html"><strong>FIB</strong></a></p></em>
                        <em><p>You can find the full code for this project in the <a href="https://github.com/sinh15/pfc-family-search"><strong>Github Repository</strong></a></p></em>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center sm-buffer">
                        <em><p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0;margin-bottom:5px;" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Explore potentiality API Family search</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Sergi Porras Pagès</span> is licensed under a <a rel="license" href='http://creativecommons.org/licenses/by-nc-sa/4.0/'>Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a></p></em>
                    </div>
                </div>
            </div>
        </div> <!-- end: FOOTER -->

    </body> <!-- body end -->
</html> <!-- html end -->
