<!-- start: PROJECT PROPOSALS AS FUTURE PROJECTS -->
<div class="container">
    <!-- start: PROPOASLS -->
    <div class="row">
        <!-- Section title -->
        <div class="col-sm-12 sm-buffer">
            <h2 class="example-section">Project Proposals for next students</h2>
        </div>
    </div>
    <!-- ROW 1 -->
    <div class="row xs-buffer">
        <!-- start: FIRST PROPOSAL -->
        <div id="proposal-box-1" class="col-md-3 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/search-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Names Popularity</h3>
                    <p>Compare how popular names were around a certain time and location or check how names were inspired by famous people.
                </div>
            </div>
        </div> <!-- end: FIRST PROPOSAL-->

        <!-- start: SECOND PROPOSAL -->
        <div id="proposal-box-2" class="col-md-3 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/surnames-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Catalan Portal</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: SECOND PROPOSAL-->

        <!-- start: THIRD PROPOSAL -->
        <div id="proposal-box-3" class="col-md-3 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/facts-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Surname Geolocation</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: THIRD PROPOSAL-->

        <!-- start: FORTH PROPOSAL -->
        <div id="proposal-box-4" class="col-md-3 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/surnames-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Genealogy & Heraldy</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: FORTH PROPOSAL-->
    </div>

    <!-- ROW 2 -->
    <div class="row xs-buffer">
        <!-- start: FIFTH PROPOSAL -->
        <div id="proposal-box-5" class="col-md-3 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/facts-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Indexing Projects</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: FIFTH PROPOSAL-->

        <!-- start: SEXTH PROPOSAL -->
        <div id="proposal-box-6" class="col-md-3 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/search-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>LDS Church</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: SEXTH PROPOSAL-->

        <!-- start: SEVENTH PROPOSAL -->
        <div id="proposal-box-7" class="col-md-3 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/surnames-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Ancestry Diversity</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: SEVENT PROPOSAL-->

        <!-- start: EIGHT PROPOSAL -->
        <div id="proposal-box-8" class="col-md-3 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/facts-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Collections</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: EIGHT PROPOSAL-->
    </div> <!-- end: ROW 2 -->

    <!-- ROW 3 -->
    <div class="row xs-buffer">
        <!-- start: 9th PROPOSAL -->
        <div id="proposal-box-9" class="col-md-3 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/facts-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>WW2: Natality & Mortality</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: 9th PROPOSAL-->

        <!-- start: 10th PROPOSAL -->
        <div id="proposal-box-10" class="col-md-3 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/search-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>WW2: Marriages</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: 10th PROPOSAL-->

        <!-- start: 11th PROPOSAL -->
        <div id="proposal-box-11" class="col-md-3 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/surnames-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>WW2: Schindler's List</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: 11th PROPOSAL-->

        <!-- start: 12th PROPOSAL -->
        <div id="proposal-box-12" class="col-md-3 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/facts-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Great Depression</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: 12th PROPOSAL-->
    </div> <!-- end: ROW 3 -->

    <!-- ROW 4 -->
    <div class="row xs-buffer">
        <!-- start: 13th PROPOSAL -->
        <div id="proposal-box-13" class="col-md-3 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/facts-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Social Media</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: 13th PROPOSAL-->

        <!-- start: 14th PROPOSAL -->
        <div id="proposal-box-14" class="col-md-3 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/search-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Reality vs FS</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: 14th PROPOSAL-->

        <!-- start: 15th PROPOSAL -->
        <div id="proposal-box-15" class="col-md-3 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/surnames-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Genealogies</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: 15th PROPOSAL-->

        <!-- start: 16th PROPOSAL -->
        <div id="proposal-box-16" class="col-md-3 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/facts-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Duplicates</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: 16th PROPOSAL-->
    </div>

</div> <!-- end: PROJECT PROPOSALS AS FUTURE PROJECTS -->
