<!-- start: PROJECT PROPOSALS AS FUTURE PROJECTS -->
<div class="container">
    <!-- start: PROPOASLS -->
    <div class="row">
        <!-- Section title -->
        <div class="col-sm-12 sm-buffer">
            <h2>Project Proposals for next students</h2>
        </div>

        <!-- start: FIRST PROPOSAL -->
        <div id="proposal-box-1" class="col-md-4 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/search-min.png">
                <div class="caption">
                    <h3>Surname: Last year newborns</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: FIRST PROPOSAL-->

        <!-- start: SECOND PROPOSAL -->
        <div id="proposal-box-2" class="col-md-4 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/surnames-min.png">
                <div class="caption">
                    <h3>Surname: Last yera newborns</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: SECOND PROPOSAL-->

        <!-- start: THIRD PROPOSAL -->
        <div id="proposal-box-3" class="col-md-4 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/facts-min.png">
                <div class="caption">
                    <h3>Surname: Last yera newborns</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: THIRD PROPOSAL-->

        <!-- start: FORTH PROPOSAL -->
        <div id="proposal-box-4" class="col-md-4 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/surnames-min.png">
                <div class="caption">
                    <h3>Surname: Last yera newborns</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: FORTH PROPOSAL-->

        <!-- start: FIFTH PROPOSAL -->
        <div id="proposal-box-5" class="col-md-4 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/facts-min.png">
                <div class="caption">
                    <h3>Surname: Last yera newborns</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: FIFTH PROPOSAL-->

        <!-- start: SEXTH PROPOSAL -->
        <div id="proposal-box-6" class="col-md-4 col-sm-6 md-buffer block-pointer proposal-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/search-min.png">
                <div class="caption">
                    <h3>Surname: Last yera newborns</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: SEXTH PROPOSAL-->

    </div> <!-- end: PROPOSALS -->
</div> <!-- end: PROJECT PROPOSALS AS FUTURE PROJECTS -->
