<!-- start: PROJECT PROPOSALS AS FUTURE PROJECTS -->
<div class="container">
    <!-- start: PROPOASLS -->
    <div class="row">
        <!-- Section title -->
        <div class="col-sm-12 sm-buffer">
            <h2 class="example-section">Project Proposals for next students</h2>
        </div>
    </div>
    <!-- ROW 1 -->
    <div class="row xs-buffer">
        <!-- start: FIRST PROPOSAL -->
        <div class="col-md-3 col-sm-6 md-buffer">
            <div id="proposal-box-1" class="thumbnail block-pointer">
                <img src="/images/thumbnails/01_names-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Names Popularity</h3>
                    <p>Compare how popular names were around a certain time and location or check how names gained popularity based on famous people achievements.
                </div>
            </div>
        </div> <!-- end: FIRST PROPOSAL-->

        <!-- start: SECOND PROPOSAL -->
        <div class="col-md-3 col-sm-6 md-buffer">
            <div id="proposal-box-2" class="thumbnail block-pointer">
                <img src="/images/thumbnails/02_catalan-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Catalan Portal</h3>
                    <p>Create a FamilySearch search portal in Catalan that also localizes the returned data from the API. It can also be applied to other languages!</p>
                </div>
            </div>
        </div> <!-- end: SECOND PROPOSAL-->

        <!-- start: 13th PROPOSAL -->
        <div class="col-md-3 col-sm-6 md-buffer">
            <div id="proposal-box-13" class="thumbnail block-pointer">
                <img src="/images/thumbnails/13_socialMedia-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Social Media</h3>
                    <p>This functionality joins the FamilySearch data with the main social networks, providing funny comparisons between the users and their friends.</p>
                </div>
            </div>
        </div> <!-- end: 13th PROPOSAL-->

        <!-- start: FORTH PROPOSAL -->
        <div class="col-md-3 col-sm-6 md-buffer">
            <div id="proposal-box-4" class="thumbnail block-pointer">
                <img src="/images/thumbnails/04_heraldry-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Genealogy & Heraldy</h3>
                    <p>This project aims to reunite the Genealogy and Heraldy sciences, two sciences that were almost the same on their origins.</p>
                </div>
            </div>
        </div> <!-- end: FORTH PROPOSAL-->
    </div>

    <!-- ROW 2 -->
    <div class="row xs-buffer">
        <!-- start: FIFTH PROPOSAL -->
        <div class="col-md-3 col-sm-6 md-buffer">
            <div id="proposal-box-5" class="thumbnail block-pointer">
                <img src="/images/thumbnails/05_indexing-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Indexing Projects</h3>
                    <p>Leaving the API aside for a second, these ideas aim to help the FamilySearch organization by automating parts of the registers indexing process.</p>
                </div>
            </div>
        </div> <!-- end: FIFTH PROPOSAL-->

        <!-- start: SEXTH PROPOSAL -->
        <div class="col-md-3 col-sm-6 md-buffer">
            <div id="proposal-box-6" class="thumbnail block-pointer">
                <img src="/images/thumbnails/06_ldsChurch-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>LDS Church</h3>
                    <p>Study the history and expansion of the Church of Jesus Christ of Latter-day Saints through the genealogical data accessible from their API.</p>
                </div>
            </div>
        </div> <!-- end: SEXTH PROPOSAL-->

        <!-- start: SEVENTH PROPOSAL -->
        <div class="col-md-3 col-sm-6 md-buffer">
            <div id="proposal-box-7" class="thumbnail block-pointer">
                <img src="/images/thumbnails/07_ancestry-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Ancestry Diversity</h3>
                    <p>The world we live in is actually pretty global. This feature aims to expose how rich each surname is in terms of races and ethnicities that have it.</p>
                </div>
            </div>
        </div> <!-- end: SEVENT PROPOSAL-->

        <!-- start: EIGHT PROPOSAL -->
        <div class="col-md-3 col-sm-6 md-buffer">
            <div id="proposal-box-8"  class="thumbnail block-pointer">
                <img src="/images/thumbnails/08_collections-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Collections</h3>
                    <p>Given the input of a location and a period of time, list all the available collections on the FamilySearch API that contain related data.</p>
                </div>
            </div>
        </div> <!-- end: EIGHT PROPOSAL-->
    </div> <!-- end: ROW 2 -->

    <!-- ROW 3 -->
    <div class="row xs-buffer">
        <!-- start: 9th PROPOSAL -->
        <div class="col-md-3 col-sm-6 md-buffer">
            <div id="proposal-box-9" class="thumbnail block-pointer">
                <img src="/images/thumbnails/09_natalityMortality-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>WW2: Natality & Mortality</h3>
                    <p>One of the conflicts that altered the world natality and mortality ratios was the Second World War. This projects studies it.</p>
                </div>
            </div>
        </div> <!-- end: 9th PROPOSAL-->

        <!-- start: 10th PROPOSAL -->
        <div class="col-md-3 col-sm-6 md-buffer">
            <div id="proposal-box-10" class="thumbnail block-pointer">
                <img src="/images/thumbnails/10_marriages-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>WW2: Marriages</h3>
                    <p>When the United States joined the WW2, a huge increase on the number of marriages was registered. Can we see that effect on the FamilySearch data?</p>
                </div>
            </div>
        </div> <!-- end: 10th PROPOSAL-->

        <!-- start: 11th PROPOSAL -->
        <div class="col-md-3 col-sm-6 md-buffer">
            <div id="proposal-box-11" class="thumbnail block-pointer">
                <img src="/images/thumbnails/11_schindler-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Schindler's List</h3>
                    <p>Based on the surnames of those that formed the Schindler's List, study what happened to the Jews Collective during and after the Second World War.</p>
                </div>
            </div>
        </div> <!-- end: 11th PROPOSAL-->

        <!-- start: 12th PROPOSAL -->
        <div class="col-md-3 col-sm-6 md-buffer">
            <div id="proposal-box-12" class="thumbnail block-pointer">
                <img src="/images/thumbnails/12_29crack-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Great Depression</h3>
                    <p>Another historical event that had a huge impact on the United States and also worldwide, was the Great Depression. This project studies its effects.</p>
                </div>
            </div>
        </div> <!-- end: 12th PROPOSAL-->
    </div> <!-- end: ROW 3 -->

    <!-- ROW 4 -->
    <div class="row xs-buffer">
        <!-- start: THIRD PROPOSAL -->
        <div class="col-md-3 col-sm-6 md-buffer">
            <div id="proposal-box-3" class="thumbnail block-pointer">
                <img src="/images/thumbnails/03_surnames-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Surnames Geolocation</h3>
                    <p>Improve the surname geolocation feature developed on this website by expanding it to other region levels.</p>
                </div>
            </div>
        </div> <!-- end: THIRD PROPOSAL-->

        <!-- start: 14th PROPOSAL -->
        <div class="col-md-3 col-sm-6 md-buffer">
            <div id="proposal-box-14" class="thumbnail block-pointer">
                <img src="/images/thumbnails/14_fsReality-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Reality vs FS</h3>
                    <p>Study the statistical accuracy of the accessible data through the FS API by comparing it with real reports based on genealogical data.</p>
                </div>
            </div>
        </div> <!-- end: 14th PROPOSAL-->

        <!-- start: 15th PROPOSAL -->
        <div class="col-md-3 col-sm-6 md-buffer">
            <div id="proposal-box-15" class="thumbnail block-pointer">
                <img src="/images/thumbnails/15_genealogies-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Genealogies</h3>
                    <p>This project aims to study the Genealogies contained on the FamilySearch API and study their main characteristics and differences over time.</p>
                </div>
            </div>
        </div> <!-- end: 15th PROPOSAL-->

        <!-- start: 16th PROPOSAL -->
        <div class="col-md-3 col-sm-6 md-buffer">
            <div id="proposal-box-16" class="thumbnail block-pointer">
                <img src="/images/thumbnails/16_duplicates-min.png">
                <div class="caption" style="min-height:300px">
                    <h3>Duplicates</h3>
                    <p>The Duplicates project idea tries to understand how FS marks persons as a duplicate and see if the algorithm could be improved on some cases.</p>
                </div>
            </div>
        </div> <!-- end: 16th PROPOSAL-->
    </div>

</div> <!-- end: PROJECT PROPOSALS AS FUTURE PROJECTS -->
