<div class="container">
    <!-- start: IMPLEMENTED EXAMPLES -->
    <div class="row">
        <!-- Section title -->
        <div class="col-sm-12 sm-buffer">
            <h2>Implemented Examples</h2>
        </div>

        <!-- start: FIRST EXAMPLE -->
        <div id="implemented-box-1" class="col-md-4 col-sm-6col-md-4 col-sm-6 md-buffer block-pointer">
            <div class="thumbnail">
                <img src="/images/proposals/thumbnail/namesPopularityThumbnail.jpg">
                <div class="caption">
                    <h3>Surname: Last yera newborns</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: FIRST EXAMPLE-->

        <!-- start: SECOND EXAMPLE -->
        <div id="implemented-box-2" class="col-md-4 col-sm-6 md-buffer block-pointer">
            <div class="thumbnail">
                <img src="/images/proposals/thumbnail/namesPopularityThumbnail.jpg">
                <div class="caption">
                    <h3>Surname: Last yera newborns</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: SECOND EXAMPLE-->

        <!-- start: THIRD EXAMPLE -->
        <div id="implemented-box-3" class="col-md-4 col-sm-6 md-buffer block-pointer">
            <div class="thumbnail">
                <img src="/images/proposals/thumbnail/namesPopularityThumbnail.jpg">
                <div class="caption">
                    <h3>Surname: Last yera newborns</h3>
                    <p>This project proposal consist on trying to localize the newborns for a specified suername during the last year.</p>
                </div>
            </div>
        </div> <!-- end: THIRD EXAMPLE-->

    </div> <!-- end: EXAMPLES -->
</div> <!-- end: EXAMPLES IMPLEMENTED -->
