<div class="container">
    <!-- start: IMPLEMENTED EXAMPLES -->
    <div class="row">
        <!-- Section title -->
        <div class="col-sm-12 sm-buffer">
            <h2 class="example-section">Implemented Examples</h2>
        </div>
    </div>
    <div class="row xs-buffer">
        <!-- start: FIRST EXAMPLE -->
        <div id="implemented-box-1" class="col-md-4 col-sm-6 md-buffer block-pointer implemented-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/search-min.png">
                <div class="caption">
                    <h3>Person Search</h3>
                    <p>Explore the FamilySearch registers. Search for persons and check the details that marked their lives. Where were they born? Did they get married? This and more inside.</p>
                </div>
            </div>
        </div> <!-- end: FIRST EXAMPLE-->

        <!-- start: SECOND EXAMPLE -->
        <div id="implemented-box-2" class="col-md-4 col-sm-6 md-buffer block-pointer implemented-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/surnames-min.png">
                <div class="caption">
                    <h3>Surnames Expansion</h3>
                    <p>This feature enables the user to check how common a surname was on a given set of countries and compare its geographical expansion over the years.</p>
                </div>
            </div>
        </div> <!-- end: SECOND EXAMPLE-->

        <!-- start: THIRD EXAMPLE -->
        <div id="implemented-box-3" class="col-md-4 col-sm-6 md-buffer block-pointer implemented-box">
            <div class="thumbnail">
                <img src="/images/thumbnails/facts-min.png">
                <div class="caption">
                    <h3>Facts Evolution</h3>
                    <p>Pick one of the three most common facts in a person's life: Birth, Marriage or Death and explore visualy how they evolved over the years in a given country.</p>
                </div>
            </div>
        </div> <!-- end: THIRD EXAMPLE-->

    </div> <!-- end: EXAMPLES -->
</div> <!-- end: EXAMPLES IMPLEMENTED -->
