<!-- START: navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="pull-left hidden-sm hidden-xs"> <img alt="pfc-logo" src="/images/littleIco.png" width="35" height="35" class="img-responsive" style="padding-top:7px"></a>
            <a class="navbar-brand" href="/">&nbsp&nbspFamilySearch - PFC</a>
        </div> <!-- navbar-header end -->

        <!-- links start -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- INCLUDE NAVIGATION LINKS -->
                <li><a href="/background">Project Background</a></li>
                <li><a href="/project-proposals">Proposed Projects</a></li>
                <li><a href="/examples">Example Implementations</a></li>
            </ul>
        </div><!-- links end -->
    </div>
</nav> <!-- navbar end -->
