<!-- START: navbar -->
<nav class="navbar navbar-default navbar-top margin-bottom-0">
    <div class="container">
        <!-- start: NAVBAR-HEADER -->
        <div class="navbar-header">
            <!-- mobile header toggle button -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- icon + home text -->
            <a href="/" class="pull-left hidden-sm hidden-xs navbar-link"> <img alt="pfc-logo" src="/images/littleIco.png" width="35" height="35" class="img-responsive" style="padding-top:7px"></a>
            <a class="navbar-brand navbar-link" href="/">&nbsp&nbspPFC - FS Potential</a>
        </div> <!-- end: NAVBAR-HEADER -->

        <!-- start: MENU LINKS -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- navigation buttons & urls -->
                <li><a class="navbar-link" href="/background">Background</a></li>
                <li><a class="navbar-link" href="/proposals">Proposals</a></li>
                <li><a class="navbar-link" href="/examples">Examples</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="signOut" class="navbar-link {{logged}}" href>Sign Out</a>
            </ul>
        </div><!-- end: MENU LINKS -->
    </div>
</nav> <!-- navbar end -->
