<!-- start: FIRST PERSON FIELDS -->
<div class="row md-buffer collapseHeader" data-toggle="collapse" href="#fatherData">
    <div class="col-sm-6 personHeaderTitle">
        <h3><span class="personHeaderSign">+</span> Father data</h3>
    </div>
    <div class="col-sm-6 text-right personHeaderGlyph hidden-xs">
        <span class="personHeaderText text-italic" style="vertical-align:middle">Click to expand/contract form</span>
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true" style="vertical-align:middle"></span>
    </div>
</div>
<div id="fatherData" class="row md-buffer collapse">
    <div class="col-sm-12">
        <div class="row">
            <!-- exact input -->
            <div class="col-sm-12" style="margin-bottom:5px;">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="label-font">Exact names input</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="radio-inline">
                            <input checked type="radio" name="fatherExactInput" id="fatherExactInputYes" value="exactYes" class="form-checkbox">Exact
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="fatherExactInput" id="fatherExactInputNo" value="exactNo" class="form-checkbox">Similar
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- name + surname -->
        <div class="row sm-buffer">
            <div class="form-group col-sm-6">
                <label for="fatherGivenName" class="label-font">Father Name</label>
                <input type="text" class="form-control form-font form-vali" id="fatherGivenName" placeholder="Delilah" maxlength=50>
            </div>
            <div class="form-group col-sm-6">
                <label for="fatherSurname" class="label-font">Father Surname</label>
                <input type="text" class="form-control form-font form-vali" id="fatherSurname" placeholder="Scoth Williams" maxlength=50>
            </div>
        </div>
        <!-- birth places -->
        <div class="row xs-buffer">
            <div class="form-group col-sm-6">
                <label for="fatherBirthPlace" class="label-font">Father Birth Place</label>
                <input type="text" class="form-control form-font form-vali" id="fatherBirthPlace" placeholder="Ohio, United States" maxlength=50 disabled>
            </div>
            <div class="form-group col-sm-6">
                <label for="fatherBirthDate" class="label-font">Father Birth Date</label>
                <input type="text" class="form-control form-font form-vali" id="fatherBirthDate" placeholder="July 1969" maxlength=50 disabled>
            </div>
        </div>
        <!-- death places -->
        <div class="row xs-buffer">
            <div class="form-group col-sm-6">
                <label for="fatherDeathPlace" class="label-font">Father Death Place</label>
                <input type="text" class="form-control form-font form-vali" id="fatherDeathPlace" placeholder="Europe" maxlength=50 disabled>
            </div>
            <div class="form-group col-sm-6">
                <label for="fatherDeathDate" class="label-font">Father Death Date</label>
                <input type="text" class="form-control form-font form-vali" id="fatherDeathDate" placeholder="1990" maxlength=50 disabled>
            </div>
        </div>
        <!-- marriage places -->
        <div class="row xs-buffer">
            <div class="form-group col-sm-6">
                <label for="fatherMarriagePlace" class="label-font">Father Marriage Place</label>
                <input type="text" class="form-control form-font form-vali" id="fatherMarriagePlace" placeholder="New york city" maxlength=50 disabled>
            </div>
            <div class="form-group col-sm-6">
                <label for="fatherMarriageDate" class="label-font">Father Marriage Date</label>
                <input type="text" class="form-control form-font form-vali" id="fatherMarriageDate" placeholder="20/05/1989" maxlength=50 disabled>
            </div>
        </div>
    </div>
</div> <!-- end: FIRST PERSON FIELDS -->
