<!-- start: FIRST PERSON FIELDS -->
<div class="row md-buffer collapseHeader" data-toggle="collapse" href="#motherData">
    <div class="col-sm-6 personHeaderTitle">
        <h3><span class="personHeaderSign">+</span> Mother data</h3>
    </div>
    <div class="col-sm-6 text-right personHeaderGlyph hidden-xs">
        <span class="personHeaderText text-italic" style="vertical-align:middle">Click to expand/contract form</span>
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true" style="vertical-align:middle"></span>
    </div>
</div>
<div id="motherData" class="row md-buffer collapse">
    <div class="col-sm-12">
        <div class="row">
            <!-- exact input -->
            <div class="col-sm-12" style="margin-bottom:5px;">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="label-font">Exact names input</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="radio-inline">
                            <input checked type="radio" name="motherExactInput" id="motherExactInputYes" value="exactYes" class="form-checkbox">Exact
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="motherExactInput" id="motherExactInputNo" value="exactNo" class="form-checkbox">Similar
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- name + surname -->
        <div class="row sm-buffer">
            <div class="form-group col-sm-6">
                <label for="motherGivenName" class="label-font">Mother Name</label>
                <input type="text" class="form-control form-font form-vali" id="motherGivenName" placeholder="Delilah" maxlength=50>
            </div>
            <div class="form-group col-sm-6">
                <label for="motherSurname" class="label-font">Mother Surname</label>
                <input type="text" class="form-control form-font form-vali" id="motherSurname" placeholder="Scoth Williams" maxlength=50>
            </div>
        </div>
        <!-- birth places -->
        <div class="row xs-buffer">
            <div class="form-group col-sm-6">
                <label for="motherBirthPlace" class="label-font">Mother Birth Place</label>
                <input type="text" class="form-control form-font form-vali" id="motherBirthPlace" placeholder="Ohio, United States" maxlength=50>
            </div>
            <div class="form-group col-sm-6">
                <label for="motherBirthDate" class="label-font">Mother Birth Date</label>
                <input type="text" class="form-control form-font form-vali" id="motherBirthDate" placeholder="July 1969" maxlength=50>
            </div>
        </div>
        <!-- death places -->
        <div class="row xs-buffer">
            <div class="form-group col-sm-6">
                <label for="motherDeathPlace" class="label-font">Mother Death Place</label>
                <input type="text" class="form-control form-font form-vali" id="motherDeathPlace" placeholder="Europe" maxlength=50>
            </div>
            <div class="form-group col-sm-6">
                <label for="motherDeathDate" class="label-font">Mother Death Date</label>
                <input type="text" class="form-control form-font form-vali" id="motherDeathDate" placeholder="1990" maxlength=50>
            </div>
        </div>
        <!-- marriage places -->
        <div class="row xs-buffer">
            <div class="form-group col-sm-6">
                <label for="motherMarriagePlace" class="label-font">Mother Marriage Place</label>
                <input type="text" class="form-control form-font form-vali" id="motherMarriagePlace" placeholder="New york city" maxlength=50>
            </div>
            <div class="form-group col-sm-6">
                <label for="motherMarriageDate" class="label-font">Mother Marriage Date</label>
                <input type="text" class="form-control form-font form-vali" id="motherMarriageDate" placeholder="20/05/1989" maxlength=50>
            </div>
        </div>
    </div>
</div> <!-- end: FIRST PERSON FIELDS -->
