<!-- start: FIRST PERSON FIELDS -->
<div class="row xs-buffer searchPersonHeader">
    <div class="col-sm-12">
        <h3>Person to be searched</h3>
    </div>
</div>
<div class="row md-buffer">
    <div class="col-sm-12">
        <div class="row">
            <!-- gender -->
            <div class="col-sm-6" style="margin-bottom:5px;">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="label-font">Gender</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="radio-inline">
                            <input type="radio" name="personGender" id="personGenderMale" value="genderMale" class="form-checkbox">Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="personGender" id="personGenderFemale" value="genderFemale" class="form-checkbox">Female
                        </label>
                    </div>
                </div>
            </div>
            <!-- exact input -->
            <div class="col-sm-6" style="margin-bottom:5px;">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="label-font">Exact names input</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="radio-inline">
                            <input type="radio" name="exactInput" id="exactInputYes" value="exactYes" class="form-checkbox">Exact
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="exactInput" id="exactInputNo" value="exactNo" class="form-checkbox">Similar
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- name + surname -->
        <div class="row sm-buffer">
            <div class="form-group col-sm-6">
                <label for="givenName" class="label-font">Name</label>
                <input type="text" class="form-control form-font form-vali" id="givenName" placeholder="Delilah">
            </div>
            <div class="form-group col-sm-6">
                <label for="surname" class="label-font">Surname</label>
                <input type="text" class="form-control form-font form-vali" id="surname" placeholder="Scoth Williams">
            </div>
        </div>
        <!-- birth places -->
        <div class="row xs-buffer">
            <div class="form-group col-sm-6">
                <label for="birthPlace" class="label-font">Birth Place</label>
                <input type="text" class="form-control form-font form-vali" id="birthPlace" placeholder="Ohio, United States">
            </div>
            <div class="form-group col-sm-6">
                <label for="birthDate" class="label-font">Birth Date</label>
                <input type="text" class="form-control form-font form-vali" id="birthDate" placeholder="July 1969">
            </div>
        </div>
        <!-- death places -->
        <div class="row xs-buffer">
            <div class="form-group col-sm-6">
                <label for="deathPlace" class="label-font">Death Place</label>
                <input type="text" class="form-control form-font form-vali" id="deathPlace" placeholder="Europe">
            </div>
            <div class="form-group col-sm-6">
                <label for="deathDate" class="label-font">Death Date</label>
                <input type="text" class="form-control form-font form-vali" id="deathDate" placeholder="1990">
            </div>
        </div>
        <!-- marriage places -->
        <div class="row xs-buffer">
            <div class="form-group col-sm-6">
                <label for="marriagePlace" class="label-font">Marriage Place</label>
                <input type="text" class="form-control form-font form-vali" id="marriagePlace" placeholder="New york city">
            </div>
            <div class="form-group col-sm-6">
                <label for="marriageDate" class="label-font">Marriage Date</label>
                <input type="text" class="form-control form-font form-vali" id="marriageDate" placeholder="20/05/1989">
            </div>
        </div>
    </div>
</div> <!-- end: FIRST PERSON FIELDS -->
