<!-- start: FIRST PERSON FIELDS -->
    <div class="row sm-buffer searchPersonHeader" data-toggle="collapse" href="#spouseData">
        <div class="col-sm-6">
            <h3>Spouse data</h3>
        </div>
        <div class="col-sm-6 text-right personHeaderGlyph">
            <span class="personHeaderText text-italic">Click to expand Spouse form</span>
            <span class="glyphicon glyphicon-menu-down" aria-hidden="true" style="padding-top:5px;"></span>
        </div>
    </div>
<div id="spouseData" class="row md-buffer collapse">
    <div class="col-sm-12">
        <div class="row">
            <!-- exact input -->
            <div class="col-sm-12" style="margin-bottom:5px;">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="label-font">Exact names input</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="radio-inline">
                            <input type="radio" name="exactInput" id="spouseExactInputYes" value="exactYes" class="form-checkbox">Exact
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="exactInput" id="spouseExactInputNo" value="exactNo" class="form-checkbox">Similar
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- name + surname -->
        <div class="row sm-buffer">
            <div class="form-group col-sm-6">
                <label for="spouseGivenName" class="label-font">Spouse Name</label>
                <input type="text" class="form-control form-font form-vali" id="spouseGivenName" placeholder="Delilah">
            </div>
            <div class="form-group col-sm-6">
                <label for="spouseSurname" class="label-font">Spouse Surname</label>
                <input type="text" class="form-control form-font form-vali" id="spouseSurname" placeholder="Scoth Williams">
            </div>
        </div>
        <!-- birth places -->
        <div class="row xs-buffer">
            <div class="form-group col-sm-6">
                <label for="spouseBirthPlace" class="label-font">Spouse Birth Place</label>
                <input type="text" class="form-control form-font form-vali" id="spouseBirthPlace" placeholder="Ohio, United States">
            </div>
            <div class="form-group col-sm-6">
                <label for="spouseBirthDate" class="label-font">Spouse Birth Date</label>
                <input type="text" class="form-control form-font form-vali" id="spouseBirthDate" placeholder="July 1969">
            </div>
        </div>
        <!-- death places -->
        <div class="row xs-buffer">
            <div class="form-group col-sm-6">
                <label for="spouseDeathPlace" class="label-font">Spouse Death Place</label>
                <input type="text" class="form-control form-font form-vali" id="spouseDeathPlace" placeholder="Europe">
            </div>
            <div class="form-group col-sm-6">
                <label for="spouseDeathDate" class="label-font">Spouse Death Date</label>
                <input type="text" class="form-control form-font form-vali" id="spouseDeathDate" placeholder="1990">
            </div>
        </div>
        <!-- marriage places -->
        <div class="row xs-buffer">
            <div class="form-group col-sm-6">
                <label for="spouseMarriagePlace" class="label-font">Spouse Marriage Place</label>
                <input type="text" class="form-control form-font form-vali" id="spouseMarriagePlace" placeholder="New york city">
            </div>
            <div class="form-group col-sm-6">
                <label for="spouseMarriageDate" class="label-font">Spouse Marriage Date</label>
                <input type="text" class="form-control form-font form-vali" id="spouseMarriageDate" placeholder="20/05/1989">
            </div>
        </div>
    </div>
</div> <!-- end: FIRST PERSON FIELDS -->
